﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listGRNCtrl">
                <div class="white-box">
                    <div class="row" style="margin-bottom:10px;" ng-show="!isGRN">
                        <div class="row" ng-show="isCustomer">
                            <div class="col-md-2">
                                <input ng-click="exportPOItemsToExcel('GRN_DETAILS')" type="button" value="Export GRN Excel" class='btn btn-info' />
                            </div>
                            <div class="col-md-2">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-info btn-file m-r-10">
                                        <span class="fileinput-new">Upload GRN Excel</span>
                                        <span class="fileinput-exists">Edit GRN Excel</span>
                                        <input type="file" accept=".xlsx" id="grnclientupload" itemscope="" itemid="grnclientupload" ng-file-select-items="onFileSelect($files)" />
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" style="color:#000;position:unset;padding:5px 0px 0px 5px;" data-dismiss="fileinput">&times;</a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input ng-click="exportErrorDetails('GRN_DETAILS')" type="button" value="Error Log" class='btn btn-info' />
                            </div>
                        </div>

                        
                        <!--<div class="col-md-2">
        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search With Invoice Number">
    </div>-->
                    </div>
                    <div class="row" style="margin-bottom:10px;" ng-if="!isGRN">

                        <!--<div class="col-md-2">
            <h5><strong>Item</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.itemName"
                         options="item.name for item in filtersList.itemList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>-->
                        <div class="row" ng-show="isCustomer">
                            <div class="col-md-2">
                                <h5><strong>Supplier Name</strong></h5>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="filters.supplier"
                                             options="item.name for item in filtersList.supplierNameList"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                            <div class="col-md-2">
                                <h5><strong>Search</strong></h5>
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                       ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>

                            <div class="col-md-2">
                                <h5><strong>From date</strong></h5>
                                <div class="col-md-12" moment-picker="filters.grnFromDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.grnFromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h5><strong>To date</strong></h5>
                                <div class="col-md-12" moment-picker="filters.grnToDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.grnToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>

                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table-striped table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="text-align:center">PO Number</th>
                                        <th style="text-align:center">PO Line Item</th>
                                        <th style="text-align:center">Item Last Received Date</th>
                                        <th style="text-align:center">Received Quantity</th>
                                        <th style="text-align:center">Rejected Quantity</th>
                                        <th ng-if="isCustomer" style="text-align:center">Supplier Name</th>
                                        <th style="text-align:center">GRN Item</th>
                                        <th style="text-align:center">GRN No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grn in filteredGrnsList">
                                        <td style="text-align:center">
                                            <label>{{grn.PO_NUMBER}}</label>
                                        </td>

                                        <td style="text-align:center">
                                            <label>{{grn.PO_LINE_ITEM}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.ITEM_RECEIVED_DATE}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.RECEIVED_QUANTITY}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.REJECTED_QUANTITY}}</label>
                                        </td>
                                        <td style="text-align:center" ng-if="isCustomer">
                                            <label>{{grn.SUPPLIER_NAME}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.GRN_LINE_ITEM}}</label>
                                        </td>
                                        <td style="text-align:center">
                                            <label>{{grn.GRN_NUMBER}}</label>
                                        </td>
                                       
                                    </tr>

                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>grnStats.totalgrns)?(grnStats.totalgrns):(pageSizeTemp+9) }} of {{ grnStats.totalgrns }}</strong>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
