﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="card" ng-controller="POListCtrl">
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <div class="col-md-6">
                                            <div>
                                                <h3>My POs</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <strong>Req ID :</strong>{{ po.req.requirementID}}
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    <strong>  Title : </strong> {{po.req.title}}
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    <strong> Name :</strong>{{po.vendor.firstName}}{{po.vendor.lastName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12 text-right" ng-show="po.req.isLockReq == 0">
                                                <button ng-if="isCustomer" class="pull-right btn btn-info btn-new-look" title="Vendor PO" ng-click="goToVendorPo(po.listPOItems[0], 0)">New PO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row" ng-show="isCustomer">
                                    <div class="col-md-12 table-responsive">
                                        <!--<div class="table-responsive">-->
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <!--style="background-color:#f5f5f5"-->
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <th style="text-align:center">Po ID</th>
                                                    <!--<th style="text-align:center">Indent ID</th>-->
                                                    <th style="text-align:center">Name</th>
                                                    <th style="text-align:center">Phone</th>
                                                    <th style="text-align:center">Status</th>
                                                    <th style="text-align:center">Vend Delv. Date</th>
                                                    <th style="text-align:center">Vend Comments</th>
                                                    <th style="text-align:center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in po.listPOItems[0] track by $index" ng-if="item.purchaseID">
                                                    <td style="text-align:center">
                                                        <label>{{item.purchaseID}}</label>
                                                    </td>
                                                    <!--<td style="text-align:center">
                                        <label>{{item.indentID}}</label>
                                    </td>-->
                                                    <td style="text-align:center">
                                                        <label>{{item.vendorName}}</label>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <label>{{item.vendorPhone}}</label>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <label>{{item.status}}</label>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <label>{{item.vendorDelvDate ? item.vendorDelvDate : '-'}}</label>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <label>{{item.vendorComments ? item.vendorComments : ''}}</label>
                                                    </td>
                                                    <td style="text-align:center">
                                                        <div class="col-sm-12">
                                                            <button ng-if="item.poID > 0" title=" vendor po" ng-click="goToViewPo(item, item.poID)" class="btn btn-info btn-new-look">View PO</button>
                                                            <button ng-if="isCustomer && item.poID > 0" ng-disabled="item.status === 'COMPLETE'" title=" vendor po" ng-click="goToVendorPo(item, item.poID)" class="btn btn-info btn-new-look">Edit PO</button>
                                                            <a ng-if="item.poLink > 0 && item.poID > 0" target="_blank " href="FileDownload.aspx?attachid={{item.poLink}}&sessionid={{sessionID}}" class="btn btn-default">Download PO</a>
                                                            <button ng-if="item.poLink > 0 && item.poID > 0" ng-click="goToDispatchTrack(item.purchaseID, 0);" class="btn btn-info btn-new-look">ASN History</button>
                                                            <button ng-if="!isCustomer && item.poID > 0" role="button" ng-click="goToDispatchTrackForm(item.purchaseID, 0)" class="btn btn-info btn-new-look">New ASN</button>
                                                            <button ng-if="item.poID > 0" role="button" ng-click="goTopaymentTrack(item.poID)" class="btn btn-info btn-new-look">Payment Track</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--</div>-->
                                    </div>
                                </div>

                                <div class="row" ng-show="!isCustomer">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr style="font-weight: bold">
                                                    <th style="text-align:center">Po ID</th>
                                                    <!--<th style="text-align:center">Indent ID</th>-->
                                                    <th style="text-align:center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in po.listPOItems2 track by $index">
                                                    <td style="text-align:center">
                                                        <label>{{item.purchaseID}}</label>
                                                    </td>
                                                    <!--<td style="text-align:center">
                                        <label>{{item.indentID}}</label>
                                    </td>-->
                                                    <td style="text-align:center">
                                                        <div class="row">
                                                            <button ng-if="item.poID > 0" title=" vendor po" ng-click="goToViewPo(item, item.poID)" class="btn btn-info btn-new-look">View PO</button>
                                                            <button ng-if="item.poID > 0" title=" vendor po" ng-click="acknowledge(item, item.poID)" class="btn btn-info btn-new-look">Acknowledgement</button>
                                                            <button ng-if="isCustomer && item.poID > 0" title=" vendor po" ng-click="goToVendorPo(item, item.poID)" class="btn btn-info btn-new-look">Edit PO</button>
                                                            <a ng-if="item.poLink > 0 && item.poID > 0" target="_blank " href="FileDownload.aspx?attachid={{item.poLink}}&sessionid={{sessionID}}" class="btn btn-default">Download PO</a>
                                                            <button ng-if="item.poLink > 0 && item.poID > 0" ng-click="goToDispatchTrack(item.purchaseID, 0);" class="btn btn-info btn-new-look">ASN History</button>
                                                            <button ng-if="!isCustomer && item.poID > 0" role="button" ng-click="goToDispatchTrackForm(item.purchaseID, 0)" class="btn btn-info btn-new-look">New ASN</button>
                                                            <button ng-if="item.poID > 0" role="button" ng-click="goTopaymentTrack(item.poID)" class="btn btn-info btn-new-look">Payment Track</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <script type="text/ng-template" id="acknowledge.html">
                        <div class="modal-header bg-primary">
                            <h3 class="modal-title text-white" id="modal-title">Acknowledgement</h3>
                        </div>

                        <div class="modal-body" id="modal-body">
                            <form novalidate name="AckForm">

                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label class="fg-label">PO Delivery Date</label>
                                        <div moment-picker="_modalCtrl.Model.poDeliveryDate" format="DD-MM-YYYY">
                                            <input ng-disabled="true" name="poDeliveryDate" id="poDeliveryDate" class="form-control" ng-model="_modalCtrl.Model.poDeliveryDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label class="fg-label">Expected Delivery Date</label>
                                        <div moment-picker="_modalCtrl.Model.DELIVERY_DATE" format="DD-MM-YYYY">
                                            <input name="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" ng-model="_modalCtrl.Model.DELIVERY_DATE" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label class="form-control-label">Comment</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <textarea cols="50" rows="4" ng-model="_modalCtrl.Model.COMMENTS" class="form-control fg-input" />
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-xs-6">
                                        <label style="color:forestgreen">
                                            <strong>Thank You for Acknowledging the order.. The Confirmation would be sent to Customer</strong>
                                        </label>
                                    </div>
                                    <div class="col-xs-6 text-right" >
                                        <button class="btn btn-primary" type="button" ng-click="_modalCtrl.SaveVendorAck(AckForm)">Save</button>
                                        <button class="btn btn-warning" type="button" ng-click="_modalCtrl.close()">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </script>




                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
