﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="createInvoiceCtrl">
                <fieldset ng-disabled="isFormdisabled">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-12  m-b-30">
                                <div class="col-md-4">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PO_NUMBER)}">
                                        <label class="fg-label"><strong>PO Number</strong></label>
                                        <input type="text" ng-disabled="true" ng-model="selectedPODetails[0].PO_NUMBER" name="poNumber" id="poNumber" class="form-control fg-input" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.CUSTOMER_NAME)}">
                                        <label class="fg-label"><strong>Customer Name</strong></label>
                                        <input type="text" ng-disabled="true" ng-model="selectedPODetails[0].CUSTOMER_NAME" name="customerName" id="customerName" class="form-control fg-input" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="fg-label">Attachment</label>
                                    <div class="form-group fg-float col-md-12">
                                        <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                            <span><i class="fa fa-upload  m-r-5"></i></span>
                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id=0 itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                        </div>
                                        <label ng-if="attch.fileID <= 0" ng-repeat="attch in selectedPODetails[0].attachmentsArray">{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex)" class="fa fa-trash-alt"></strong></label>
                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in selectedPODetails[0].attachmentsArray">
                                            <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  m-b-30">
                                    <div class="col-md-2">
                                        <label>Invoice Type</label>
                                        <select class="form-control" ng-model="selectedPODetails[0].INVOICE_TYPE">
                                            <option value="regular">Regular</option>
                                            <option value="freight">Freight</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Invoice Number</label>
                                        <input type="text" ng-change="checkUserUniqueResult('INVOICE',selectedPODetails[0].INVOICE_NUMBER)" ng-model="selectedPODetails[0].INVOICE_NUMBER" name="invoiceNumber" id="invoiceNumber" class="form-control fg-input" />
                                        <small class="help-block error logininput text-danger"
                                               ng-show="checkInvoiceUniqueResult">Invoice number already exists</small>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Invoice Date</label>
                                        <div class="col-md-12" moment-picker="selectedPODetails[0].INVOICE_DATE_1" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="selectedPODetails[0].INVOICE_DATE_1" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="asnCode!=0">
                                        <label>ASN/Dispatch No</label>
                                        <input type="text" ng-model="selectedPODetails[0].ASN_NUMBER" name="asnNumber" id="asnNumber" class="form-control fg-input" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Due Date</label>
                                        <div class="col-md-12" moment-picker="selectedPODetails[0].DUE_DATE_1" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="selectedPODetails[0].DUE_DATE_1" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  m-b-30">
                                    <div class="col-md-6" style="display:-webkit-inline-box">
                                        <label>From</label>&nbsp;
                                        <textarea  ng-model="selectedPODetails[0].FROM_ADDRESS"></textarea>
                                    </div>
                                    <div class="col-md-6" style="display:-webkit-inline-box">
                                        <label>To</label>
                                        <textarea ng-model="selectedPODetails[0].TO_ADDRESS"></textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table-striped table-bordered table z-depth-1 clear-both">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">PO Line item</th>
                                                    <th style="text-align:center;">Item Code</th>
                                                    <th style="text-align:center;"><strong>Item Name</strong></th>
                                                    <th style="text-align:center"><strong>PO Quantity</strong></th>
                                                    <th style="text-align:center"><strong>Invoice Quantity</strong></th>
                                                    <th style="text-align:center"><strong>Remaining Quantity</strong></th>
                                                    <th style="text-align:center"><strong>Rate</strong></th>
                                                    <th style="text-align:center"><strong>Amount</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in selectedPODetails">
                                                    <td>{{item.PO_LINE_ITEM}}</td>
                                                    <td>{{item.PRODUCT_CODE}}</td>
                                                    <td>{{item.PRODUCT_NAME}}</td>
                                                    <td>{{item.ACK_QTY}}</td>
                                                    <td>
                                                        <input type="number" ng-change="getSum(item,'QTY',$index)" ng-model="item.INVOICE_QTY" name="customerName" id="customerName" class="form-control fg-input" />
                                                        <span class="text-danger" ng-show="item.isError">Please enter Invoice Qty less than Remaining Qty</span>

                                                    </td>
                                                    <td>{{item.TOTAL_INVOICE_LINE_ITEM_REMAINING_QTY}}</td>
                                                    <td>
                                                        {{item.NET_PRICE}}
                                                    </td>
                                                    <td>
                                                        {{item.AMOUNT}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Sub total:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" ng-disabled="true" ng-model="selectedPODetails[0].SUB_TOTAL" name="subTotal" id="subTotal" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Tax:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="number" ng-disabled="true" ng-model="selectedPODetails[0].TAX" name="subTotal" id="subTotal" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class="col-md-5" style="text-align:right">
                                                <label>Total:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" ng-disabled="true" ng-model="selectedPODetails[0].INVOICE_AMOUNT" name="subTotal" id="subTotal" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="text-align:right">
                                            <div class="col-md-12">
                                                <button class="btn btn-info btn-file btn-new-look" ng-click="saveInvoice()" type="submit">Save</button>
                                                <button class="btn btn-info btn-file btn-new-look" type="submit">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>


                <div class="col-md-12">
                    <label ng-if="itemWorkflow[0].WorkflowTracks[itemWorkflow[0].WorkflowTracks.length - 1].status === 'APPROVED' && itemWorkflow[0].WorkflowTracks[itemWorkflow[0].WorkflowTracks.length - 1].modifiedBy === +userID && selectedPODetails[0].STATUS != 'COMPLETED'">
                        <button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="completeInvoice(selectedPODetails);">Complete Payment</button>
                    </label>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                <div class="row approvalRowHeight">
                                    <div class="col-md-12">
                                        <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                            <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode}}</strong></br>-->
                                            <strong>
                                                <label style="color:darkorange">
                                                    {{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}
                                                </label>
                                            </strong>
                                            <!--({{step.approver.desigCode + ' ' + step.department.deptCode}})-->
                                        </P>
                                        <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                            <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 list-group-item" href="#"
                                         ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                         style="min-height:90px;">
                                        <div class="row">
                                            <div class="col-md-1 col-xs-1">
                                                <h5>{{$index + 1}}. </h5>
                                            </div>
                                            <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                            </div>
                                            <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                <div class="row">
                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                        <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                        <small>Hold</small>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                        <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                        <small>Approve</small>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                        <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                        <small>Reject</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style='border-bottom:1px solid #ccc;'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
