﻿<style>
    .col-sm-12 strong span {
        color: grey
    }
</style>


<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listPendingPOOverallCtrl">
                <div class="white-box">
                    <div class="col-md-12">
                        <h3><strong>PO Number :{{filteredPendingPOsList.PO_NUMBER}}</strong></h3>
                    </div><br /><br />

                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-primary"><strong>PO Dates</strong></h4>
                                <hr style="border:1px solid black">
                                <!--<div class="col-sm-12">
                                    <div><strong><span>PO Delivery Date:</span> {{filteredPendingPOsList.DELIVERY_DATE}}</strong></div>
                                </div><br /><br />-->
                                <div class="col-sm-12">
                                    <div><strong><span>Expected Receipt Date: </span>{{filteredPendingPOsList.PO_RECEIPT_DATE}}</strong></div>
                                </div><br /><br />

                                <!--<div class="col-sm-12">
                                    <div><strong>Return Schedule date: {{filteredPendingPOsList.returnScheduleDate}}</strong></div>
                                </div><br /><br />

                                <div class="col-sm-12">
                                    <div><strong>Item Last Received Date: {{filteredPendingPOsList.ItemLastReceivedDate}}</strong></div>
                                </div><br /><br />-->

                                <div class="col-sm-12">
                                    <div><strong><span>PO closed Date: </span>{{filteredPendingPOsList.PO_CLOSED_DATE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Release Date: </span>{{filteredPendingPOsList.PO_RELEASE_DATE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Status: </span>{{filteredPendingPOsList.PO_STATUS}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Delivery Status: </span>{{filteredPendingPOsList.DELIVERY_STATUS}}</strong></div>
                                </div><br /><br />
                            </div>
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-warning"><strong>PO Quantity Details</strong></h4>

                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>Billed Qty: </span>{{billedQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Received Qty: </span>{{receivedQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Rejected Qty: </span>{{rejectedQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Remaining Qty: </span>{{remainingQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Rej Qty Return/Remove: </span>{{removeQty}}</strong></div>
                                </div><br /><br />


                            </div>

                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-danger"><strong>Vendor Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>Supplier Name: </span>{{filteredPendingPOsList.VENDOR_COMPANY}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Primary Email: </span>{{filteredPendingPOsList.VENDOR_PRIMARY_EMAIL}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Primary Phone Number: </span>{{filteredPendingPOsList.VENDOR_PRIMARY_PHONE_NUMBER}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Code: </span>{{filteredPendingPOsList.VENDOR_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Plant: </span>{{filteredPendingPOsList.PLANT_NAME}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Purchase Group: </span>{{filteredPendingPOsList.PURCHASE_GROUP}}</strong></div>
                                </div><br /><br />
                            </div>
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-success"><strong>Payment Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>Payment Terms: </span>{{filteredPendingPOsList.PAYMENT_TERMS}}</strong></div>
                                </div><br /><br />

                                <div class="col-sm-12">
                                    <div><strong><span>PO creator: </span>{{filteredPendingPOsList.PO_CREATOR}}</strong></div>
                                </div><br /><br />

                                <div class="col-sm-12">
                                    <div><strong><span>Net Prices: </span>{{filteredPendingPOsList.NET_PRICE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Value INR: </span>{{filteredPendingPOsList.TOTAL_VALUE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Currency: </span>{{filteredPendingPOsList.CURRENCY}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <strong>
                                        <span>Invoice: </span>
                                    </strong>
                                    <div ng-repeat="item in invoiceList">


                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in item.attachmentsArray">
                                            <a target="_blank" title="{{attch.fileName}}" class="prmellipsis"  href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                        </label>&nbsp;&nbsp;

                                    </div><br /><br />

                                </div>
                            </div>

                        </div>
                        <h4><strong>Item Level</strong></h4>

                        <hr style="border:1px solid black">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive" double-scroll-bar-horizontal>
                                <table class="table">
                                    <thead>
                                        <tr style="font-weight: bold">

                                            <th>Item Name</th>
                                            <th>Material Code</th>
                                            <th style="min-width:100px;">PO Line Item</th>
                                            <th style="min-width:100px;">Tax Code desc.</th>
                                            <th>Delivery Date</th>
                                            <th>Material Type</th>
                                            <th>City</th>
                                            <th>HSN Code</th>
                                            <th>Order Quantity</th>
                                            <th>Alternate UOM</th>
                                            <th style="min-width:110px;">Qty in Alternate UOM</th>
                                            <th>Freight</th>
                                            <th>PR Qty</th>
                                            <th style="min-width:100px;">PR Release Date</th>
                                            <th style="min-width:100px;">PR Delivery Date</th>
                                            <th>Item Text PO</th>
                                            <th>Rel Ind</th>
                                            <th>PR Requisitioner</th>
                                            <th>Document Type</th>
                                            <th>Service Code</th>
                                            <th>Service Description</th>
                                            <th>Misc Changes</th>
                                            <th>Packing Charges</th>
                                            <th>PO Contract</th>
                                            <th>Received Quantity</th>
                                            <th>Rejected Quantity</th>
                                            <th>Remaining Quantity</th>
                                            <th>Currency</th>
                                            <th>CGST</th>
                                            <th>SGST</th>
                                            <th>IGST</th>
                                            <th>CESS</th>
                                            <th>TCS</th>
                                            <th>Net Price</th>
                                            <th>Total Value</th>
                                            <th>Valid From</th>
                                            <th>Valid To</th>
                                            <th style="min-width:145px;">Delivery Completion Indicator</th>
                                            <th style="min-width:100px;">Deleted Indicator</th>
                                            <th>GRN Number</th>
                                            <th>View GRN</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in pendingPOItems">
                                            <td>{{item.PRODUCT_NAME}}</td>
                                            <td>{{item.PRODUCT_CODE}}</td>
                                            <td style="min-width:100px;">{{item.PO_LINE_ITEM}}</td>
                                            <td style="min-width:100px;">{{item.TAX_CODE}}</td>
                                            <td>{{item.DELIVERY_DATE}}</td>
                                            <td>{{item.MAT_TYPE}}</td>
                                            <td>{{item.CITY}}</td>
                                            <td>{{item.HSN_CODE}}</td>
                                            <td>{{item.ORDER_QTY}}</td>
                                            <td>{{item.ALTERNATIVE_UOM}}</td>
                                            <td style="min-width:110px;">{{item.ALTERNATIVE_UOM_QTY}}</td>
                                            <td>{{item.FREIGHT}}</td>
                                            <td>{{item.PR_QTY}}</td>
                                            <td style="min-width:100px;">{{item.PR_RELEASE_DATE}}</td>
                                            <td style="min-width:100px;">{{item.PR_DELIVERY_DATE}}</td>
                                            <td style="min-width:100px;">{{item.ITEM_TEXT_PO}}</td>
                                            <td>{{item.REL_IND}}</td>
                                            <td>{{ITEM.PR_REQUISITIONER}}</td>
                                            <td>{{item.DOC_TYPE}}</td>
                                            <td>{{ITEM.SERVICE_CODE}}</td>
                                            <td>{{ITEM.SERVICE_DESCRIPTION}}</td>
                                            <td>{{item.MISC_CHARGES}}</td>
                                            <td>{{item.PACKING_CHARGES}}</td>
                                            <td>{{item.PO_CONTRACT}}</td>
                                            <td>{{item.RECEIVED_QTY}}</td>
                                            <td>{{item.REJECTED_QTY}}</td>
                                            <td>{{item.REMAINING_QTY}}</td>
                                            <td>{{item.CURRENCY}}</td>
                                            <td>{{item.CGST}}</td>
                                            <td>{{item.SGST}}</td>
                                            <td>{{item.IGST}}</td>
                                            <td>{{item.CESS}}</td>
                                            <td>{{item.TCS}}</td>
                                            <td>{{item.NET_PRICE}}</td>
                                            <td>{{item.TOTAL_VALUE}}</td>
                                            <td>{{item.VALID_FROM}}</td>
                                            <td>{{item.VALID_TO}}</td>
                                            <td style="min-width:145px;">{{item.DELIVERY_COMPLETED}}</td>
                                            <td style="min-width:100px;">{{item.DELETED_INDICATOR}}</td>
                                            <td>{{item.GRN_NUMBER}}</td>
                                            <td>
                                                <a title="View GRN" role="button" ng-click="viewPO(item.GRN_NUMBER)"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>



                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
