﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <div id="page-wrapper">
        
                <div class="row ">
                    &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
                <div class="white-box" ng-controller="consalidatedReportCtrl">

                    <div class="box-title row">
                        
                        <div class="col-md-2 form-group top-half-buffer pull-left">
                            <label class="col-md-12 m-b-20"></label>
                            <h4>Consolidated Report</h4>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">From date</label>
                                <div class="col-md-12" moment-picker="reportDatesObj.FROM_DATE" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select From Date" ng-model="reportDatesObj.FROM_DATE">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">To date</label>
                                <div class="col-md-12" moment-picker="reportDatesObj.TO_DATE" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select To Date" ng-model="reportDatesObj.TO_DATE">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 top-buffer">
                            <label class="col-md-12 m-b-10"></label>
                            <button class="btn btn-info" ng-click="getConsolidatedReport(0,10);">Filter</button>
                        </div>


                        <div class="form-group fg-float col-md-3 m-b-30 pull-left top-buffer">
                            <label class="col-md-12 m-b-10"></label>
                            <button ng-click="GetReport()" class="pull-left btn btn-info ng-scope" href="javascript:void(0);">
                                Download Report
                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px">
                        <div class="col-md-12 table-responsive">
                            <table id="testTable" class="table table-hover" style="background-color:#f5f5f5;margin-left: 20px;" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                                <thead>
                                    <tr>
                                        <th>Req Number</th>
                                        <th>Title</th>
                                        <th>Req Currency</th>
                                        <th>Posted On</th>
                                        <th>Freeze Time</th>
                                        <th>Quotation Status</th>
                                        <th>Scheduled</th>
                                        <th>Initial Least Price</th>
                                        <th>L1 Company Name</th>
                                        <th>L1 Rev Price</th>
                                        <th>L2 Company Name</th>
                                        <th>L2 Rev Price</th>
                                        <th>Savings</th>
                                        <th>Savings %</th>
                                        <th>EBIT Savings(INR)</th>
                                        <th>EBIT Savings(RFQ POSTED CURRENCY)</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                     <tr ng-repeat="item in consolidatedReport">

                                    <td>
                                        {{item.REQ_NUMBER}}
                                    </td>
                                    <td>
                                        <a class="prmellipsis" title="{{item.REQ_TITLE}}" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_TITLE}}</a>
                                    </td>
                                     <td>
                                         {{item.REQ_CURRENCY}}
                                     </td>
                                     <td>
                                         {{item.REQ_POSTED_ON}}
                                     </td>
                                     <td>
                                         {{item.QUOTATION_FREEZ_TIME}}
                                     </td>
                                     <td>
                                         {{item.QUOTATION_STATUS}}
                                     </td>
                                     <td>
                                         {{item.START_TIME}}
                                     </td>
                                     <td>
                                         {{item.L1_INITIAL_TOTAL_PRICE}}
                                     </td>
                                     <td>
                                         {{item.L1_COMP_NAME}} 
                                     </td>
                                     <td>
                                         {{item.L1_REV_TOTAL_PRICE}}
                                     </td>
                                     <td>

                                         {{item.L2_COMP_NAME}}
                                     </td>
                                     <td>

                                         {{item.L2_REV_TOTAL_PRICE}} 
                                     </td>
                                     <td>
                                         {{item.SAVINGS == null ? 0 : item.SAVINGS }}
                                     </td>
                                     <td>
                                         {{item.savingsPercentage}}
                                     </td>
                                     <td>
                                         {{item.EBIT_SAVINGS_IN_INR}}
                                     </td>
                                     <td>
                                         {{item.EBIT_SAVINGS_IN_REQ_CURRENCY }}
                                     </td>
                                     <td>
                                         {{item.REQ_STATUS}}
                                     </td>

                                     </tr>
                                    <tr ng-show="consalidatedReport.length==0">
                                        <td colspan="15" align="center">
                                            No data available
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <ul ng-show="totalItems > itemsPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>


                    <br />
                </div>
            </div>
        </div>
