﻿<style>
    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div data-ng-controller="anylaticsCtrl">
                    <div class="row white-box">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="anylaticsFromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="anylaticsFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="anylaticsToDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="anylaticsToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="getAnalyticsTotalData();">Apply</button></div>

                        </div>
                        <button ng-show="false" id="upateChartButton">upateChartButton</button>

                    </div>
                    <div class="row header-cards">
                        <div class="col-md-12 co-lg-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getDeprtmentCategoryData('totalSpend')">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">Total Spend</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_SPEND}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_OPEN_RFQS/dashboardStats.TOTAL_RFQS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getDeprtmentCategoryData('totalSavings')">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">Total Savings</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_SAVINGS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_OPEN_RFPS/dashboardStats.TOTAL_RFPS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">No.of Departments</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_DEPARTMENTS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_PENDING_POS/dashboardStats.TOTAL_POS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">No.of Users</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_USERS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_PENDING_POS/dashboardStats.TOTAL_POS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">No.of Categories</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_CATEGORIES}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_PENDING_POS/dashboardStats.TOTAL_POS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getDeprtmentCategoryData('totalPlants')">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">No.of Plants</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_PLANTS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_PENDING_POS/dashboardStats.TOTAL_POS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <button ng-show="false" id="upateChartButton2">upateChartButton</button>

                    </div>
                    <div class="row header-cards">
                        <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalSpend'">
                            <div class="white-box" style="padding:0px">
                                <div>
                                    <button class="btn btn-info btn-new-look" ng-click="departmentWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <label>Department Wise Total Spend</label>
                                </div>
                               
                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="departmentWiseGraphShow">
                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>Spend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in analyticsTotalSpendData.DepartmentSpend">
                                                <td><a role="button" ng-click="getAnalyticsData(type + 'Dept',dept.key1,dept.decimalVal)">{{dept.key1}}</a></td>
                                                <td>{{dept.decimalVal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalSavings'">
                            <div class="white-box" style="padding:0px">
                                <button class="btn btn-info btn-new-look" ng-click="departmentwisegraphshow=false"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <label>Department Wise Total Savings</label>

                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="departmentWiseGraphShow">

                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>Savings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in analyticsTotalSavingsData.DepartmentSavings">
                                                <td><a role="button" ng-click="getAnalyticsData(type + 'Dept',dept.key1,dept.decimalVal)">{{dept.key1}}</a></td>
                                                <td>{{dept.decimalVal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalPlants'">

                            <div class="white-box" style="padding:0px">
                                <button class="btn btn-info btn-new-look" ng-click="departmentWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                <label>Department Wise Total Plants</label>
                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="departmentWiseGraphShow">

                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>Plants</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in analyticsTotalPlantsData.DepartmentPlants">
                                                <td><a role="button" ng-click="getAnalyticsData(type + 'Dept',dept.key1,dept.value1)">{{dept.key1}}</a></td>
                                                <td>{{dept.value1}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalSpend'">
                            <div class="white-box" style="padding:0px">
                                <button class="btn btn-info btn-new-look" ng-click="categoryWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                <label>Category Wise Total Spend</label>

                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="categoryWiseGraphShow">
                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Spend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in analyticsTotalSpendData.CategorySpend">
                                                <td><a role="button" ng-click="getAnalyticsData(type + 'Cat',dept.key1,dept.decimalVal)">{{dept.key1}}</a></td>
                                                <td>{{dept.decimalVal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalSavings'">
                            <div class="white-box" style="padding:0px">
                                <button class="btn btn-info btn-new-look" ng-click="categoryWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                <label>Category Wise Total Savings</label>
                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="categoryWiseGraphShow">

                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Savings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in analyticsTotalSavingsData.CategorySavings">
                                                <td><a role="button" ng-click="getAnalyticsData(type + 'Cat',dept.key1,dept.decimalVal)">{{dept.key1}}</a></td>
                                                <td>{{dept.decimalVal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalPlants'">

                            <div class="white-box" style="padding:0px">
                                <button class="btn btn-info btn-new-look" ng-click="categoryWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                <label>Category Wise Total Plants</label>
                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="categoryWiseGraphShow">

                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Plants</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in analyticsTotalPlantsData.CategoryPlants">
                                                <td><a role="button" ng-click="getAnalyticsData(type + 'Cat',dept.key1,dept.value1)">{{dept.key1}}</a></td>
                                                <td>{{dept.value1}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>
                    <!--<div class="row header-cards">

                        <div class="col-md-12" style="padding:0px;">

                            <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;">
                                <div class="white-box">
                                    <hc-chart ng-show="departmentWiseGraphShow" options="departmentWiseGraph" ng-click="departmentWiseLevelGraphShow=true;">Loading...</hc-chart>
                                    <button class="btn btn-info btn-new-look" ng-click="departmentWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                </div>

                            </div>
                            <div class="col-md-6 col-lg-6" style="padding-right:8px;padding-left:8px;">
                                <div class="white-box">
                                    <hc-chart ng-show="categoryWiseGraphShow" options="categoryWiseGraph">Loading...</hc-chart>
                                    <button class="btn btn-info btn-new-look" ng-click="categoryWiseGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                </div>

                            </div>

                        </div>


                    </div>-->
                    <div class="row header-cards">

                        <div class="col-md-12" style="padding:0px;">

                            <div class="col-md-4 col-lg-4" style="padding-right:0px;padding-left:8px;" ng-show="departmentWiseLevelGraphShow">
                                <div class="white-box">
                                    <button class="btn btn-info btn-new-look" ng-click="departmentWiseLevelGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                    <hc-chart ng-show="departmentWiseLevelGraphShow" options="departmentWiseUserDataGraph">Loading...</hc-chart>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4" style="padding-right:8px;padding-left:8px;" ng-show="departmentWiseLevelGraphShow">
                                <div class="white-box">
                                    <!--<hc-chart ng-show="departmentWiseLevelGraphShow" options="departmentWiseCategoryDataGraph">Loading...</hc-chart>
    <button class="btn btn-info btn-new-look" ng-click="departmentWiseLevelGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>-->
                                    <button class="btn btn-info btn-new-look" ng-click="departmentWiseLevelGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <label>Category/Department Wise</label>
                                    <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-show="departmentWiseLevelGraphShow">
                                        <table class="table-striped table table-fixed">
                                            <thead>

                                                <tr>
                                                    <th ng-hide="type1.indexOf('Dept')!=-1">Department</th>
                                                    <th ng-hide="type1.indexOf('Cat')!=-1">Category</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dept in departmentWiseCategorySpend">
                                                    <td ng-hide="type1.indexOf('Dept')!=-1">{{dept.key1}}</td>
                                                    <td ng-hide="type1.indexOf('Cat')!=-1">{{dept.value}}</td>
                                                    <td>{{type=='totalPlants'?dept.value1:dept.decimalVal}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-4 col-lg-4" style="padding-right:8px;padding-left:8px;" ng-show="departmentWiseLevelGraphShow">
                                <div class="white-box">
                                    <button class="btn btn-info btn-new-look" ng-click="departmentWiseLevelGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                    <hc-chart ng-show="departmentWiseLevelGraphShow" options="departmentWiseContributeGraph">Loading...</hc-chart>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--<div class="row header-cards">

                        <div class="col-md-12" style="padding:0px;">
                            <div class="col-md-6 col-lg-6" style="padding-right:0px;padding-left:8px;">
                                <div class="white-box">
                                    <hc-chart ng-show="categoryWiseLevelGraphShow" options="categoryWiseUserGraph">Loading...</hc-chart>
                                    <button class="btn btn-info btn-new-look" ng-click="categoryWiseLevelGraphShow=false"><i class="fa fa-times" aria-hidden="true"></i></button>

                                </div>

                            </div>

                        </div>
                    </div>-->


                </div>
            </div>
        </div>
    </div>
    <footer id="footer" data-ng-include src="'template/footer.html'"></footer>
