﻿<div class="white-box" ng-controller="configurationCtrl">
    <div class="row">
        <button class="btn btn-info btn-file btn-new-look" ng-click="tableView('DOCUMENT_TYPE');showTable(1)">Configuration</button>
        <button class="btn btn-info btn-file btn-new-look" ng-click="showTable(0)">Plant</button>
        <button class="btn btn-info btn-file btn-new-look" ng-click="tableView('TAX_CODES')">Tax Code</button>
    </div>
    <div class="row" ng-if="showConfiguration">
        <div class="box-title col-md-12">
            <div class="col-md-4">
                <h3>{{type=='DOCUMENT_TYPE'?'Company Configuration':'Company Tax Codes'}}</h3>
            </div>
            <div class="col-md-4">
                <button ng-if="!addnewconfigView" ng-click="editConfiguration(configuration)" class="btn btn-info pull-right add-new-btn">{{type=='DOCUMENT_TYPE'?'Add New Configuration':'Add New Tax Code'}}</button>
            </div>
        </div>
        <div class="row">

            <div ng-if="addnewconfigView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (configuration.configValue)}">
                            <label class="fg-label">{{type=='DOCUMENT_TYPE'?'Document Type':'Tax Code'}}</label>
                            <input type="text" ng-model="configuration.configValue" name="DocType" id="DocType" class="form-control fg-input" />

                        </div>
                    </div>

                    <div class="form-group fg-float col-md-6 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (configuration.configText)}">
                            <label class="fg-label">{{type=='DOCUMENT_TYPE'?'Document Desc':'Tax Code Desc'}}</label>
                            <textarea type="text" ng-model="configuration.configText" name="DocDesc" id="DocDesc" rows="2" style="resize: vertical;" class="form-control fg-input" />

                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30 ">
                        <label>Vertical Type</label>
                        <div>
                            <select ng-model="configuration.configType" class="form-control p-0" data-placeholder="template" id="template">
                                <option value="SEEDS">SEEDS</option>
                                <option value="TEXTILES">TEXTILES</option>
                                <option value="SUGARS">SUGARS</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyConfigurations()">Save</button>
                    <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditConfiguration()">Cancel</button>
                </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">{{type=='DOCUMENT_TYPE'?'Document Type':'Tax Code'}}</th>
                            <th style="width:40%">{{type=='DOCUMENT_TYPE'?'Document Desc':'Tax Code Desc'}}</th>
                            <th style="width:20%">Vertical Type</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="companyConfiguration in companyConfigurations.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{companyConfiguration.configValue}}</td>
                            <td>{{companyConfiguration.configText}}</td>
                            <td>{{companyConfiguration.configType}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Configuration" role="button" ng-click="editConfiguration(companyConfiguration)" class="fa fa-edit" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>
    <div class="row" ng-if="showPlant">
        <div class="box-title col-md-12">
            <div class="col-md-4">
                <h3>Company Plants</h3>
            </div>
            <div class="col-md-4">
                <button ng-if="!addnewplantView" ng-click="editPlant(plant)" class="btn btn-info pull-right add-new-btn">Add New Plants</button>
            </div>
        </div>
        <div class="row">

            <div ng-if="addnewplantView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3 m-b-30 ">
                        <label>Vertical Type</label>
                        <div>
                            <select ng-disabled="disablefields" ng-model="plant.TYPE_OF_VERTICAL" class="form-control p-0" data-placeholder="template" id="template">
                                <option value="SEEDS">SEEDS</option>
                                <option value="TEXTILES">TEXTILES</option>
                                <option value="SUGARS">SUGARS</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (plant.fieldName)}">
                            <label class="fg-label">Plant Code</label>
                            <input type="text" ng-disabled="disablefields" ng-model="plant.FIELD_NAME" name="plantID" id="plantID" class="form-control fg-input" />

                        </div>
                    </div>

                    <div class="form-group fg-float col-md-6 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (plant.fieldValue)}">
                            <label class="fg-label">Plant Description</label>
                            <textarea type="text" ng-model="plant.FIELD_VALUE" name="plantDesc" id="plantDesc" rows="2" style="resize: vertical;" class="form-control fg-input" />

                        </div>
                    </div>

                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyERPFieldMappings()">Save</button>
                    <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditPlant()">Cancel</button>
                </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">Vertical Type</th>
                            <th style="width:40%">Plant Code</th>
                            <th style="width:20%">Plant Description</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="companyPlant in companyPlants.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                            <td>{{companyPlant.TYPE_OF_VERTICAL}}</td>
                            <td>{{companyPlant.FIELD_NAME}}</td>
                            <td>{{companyPlant.FIELD_VALUE}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Configuration" role="button" ng-click="editPlant(companyPlant)" class="fa fa-edit" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>
</div>