﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="productSearchBestPriceCtrl">
                    <div>
                        <div class="box-title">
                            <h4 style="text-align:center;"><strong>Product Best Price</strong></h4>
                        </div>

                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-2">
                                    <label><strong>Search</strong></label>
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="getUserProducts(0,200,searchString,false,false,false)" ng-model="searchString"
                                           ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                </div>
                                <div class="col-md-2">
                                    <label><strong>Product Name</strong></label>
                                    <select data-placeholder="Select Type" name="currency" ng-model="productId" ng-options="product.prodId as product.prodName for product in productsList" class="form-control"></select>
                                </div>
                                <div class="col-md-2 m-t-20">
                                    <button ng-click="getPreviousItemPrice()" class="btn btn-info ng-scope">
                                        Best Price
                                    </button>
                                </div>
                                <!--<div class="col-md-6">
                                    <div ng-if="selectedProduct.itemPreviousPrice.lastPrice  && selectedProduct.itemPreviousPrice.lastPrice > 0">
                                        <div>
                                            <label><strong>Previous Unit Price:</strong> {{selectedProduct.itemPreviousPrice.lastPrice}} (Date: {{selectedProduct.itemPreviousPrice.lastPriceDate}}) </label>
                                        </div>
                                        <div>
                                            <label><strong>Vendor:</strong> {{selectedProduct.itemPreviousPrice.lastPriceVendor}} </label>
                                        </div>
                                    </div>
                                    <label ng-if="selectedProduct.itemPreviousPrice.lastPrice == 0" class="text-danger">No previous records found.</label>
                                </div>-->

                                <div class="col-md-2">
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        Select <span class="caret"></span>
                                    </button>-->
                                    <div class="input-group input-group-sm search-control  dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="getUserProducts(0,200,searchString,false,false,false)" ng-model="searchString"
                                               ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                    </div>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <!--<li role="presentation" class="dontClose">
                                            <div class="input-group input-group-sm search-control">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </span>
                                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="getUserProducts(0,200,searchString,false,false,false)" ng-model="searchString"
                                                       ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                            </div>
                                        </li>-->
                                        <li role="presentation" ng-repeat='product in productsList'>
                                            <a ng-click="getPreviousItemPrice(product.prodId)"> {{product.prodName}} </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="white-box" ng-show="selectedProduct.showTable">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12 table-responsive" ng-show="selectedProduct.itemLastPriceArr.length > 0">
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <strong>Req ID</strong>
                                                    </th>
                                                    <th>
                                                        <strong>Unit Price</strong>
                                                    </th>
                                                    <th>
                                                        <strong>Quantity</strong>
                                                    </th>
                                                    <th>
                                                        <strong>Vendor Company Name</strong>
                                                    </th>
                                                    <th>
                                                        <strong>Date</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="itemlast in selectedProduct.itemLastPriceArr" ng-style="itemlast.isBestPrice && {'color':'red'}">
                                                    <td>
                                                        {{itemlast.requirementID}}
                                                    </td>
                                                    <td>
                                                        {{itemlast.unitPrice}}
                                                    </td>
                                                    <td>
                                                        {{itemlast.quantity}}
                                                    </td>
                                                    <td>
                                                        {{itemlast.companyName}}
                                                    </td>
                                                    <td>
                                                        {{itemlast.currentTime}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <label style="color:red;margin-left:15px;" ng-if="!selectedProduct.itemLastPriceArr || selectedProduct.itemLastPriceArr.length <= 0">
                                        No historical records are currently available in the System.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
