﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listprCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-1" ng-if="(prDet.prLevel == 1 || prDet.prLevel == 4 )">
                            <button ng-click="GetReport()" ng-show="!downloadExcel" style="margin-top: 30px;" class="pull-right btn btn-info ng-scope">
                                Export
                            </button>
                            <img id="mySpinner" ng-show="downloadExcel" align="middle" src="img/AcadsLoding.gif" />
                        </div>

                        <div class="col-md-3" style="margin-top: 30px;">
                            <label class="pull-right">
                                <input type="radio" ng-model="prDet.prLevel" ng-value="1" name="prCheck1" id="pr1" ng-click="getPRLevelView()" />PR Level
                                <input type="radio" ng-model="prDet.prLevel" ng-value="2" name="prCheck2" id="pr2" ng-click="getPRSBasedOnItem(0,0,10,'')" />Item Level
                                <input type="radio" ng-model="prDet.prLevel" ng-value="3" name="prCheck3" id="pr3" ng-click="getPRSBasedOnItem(1,0,10,'')" />Common Items
                                <br />
                                <input type="radio" ng-model="prDet.prLevel" ng-value="4" name="prCheck1" id="pr1" ng-click="getPRLevelView();getprlist(0, 10, filters.searchKeyword);" />Non-Release Date
                            </label>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>
                        <div class="col-md-2" ng-if="(prDet.prLevel == 1 || prDet.prLevel == 4 )">
                            <h5><strong>Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.newPrStatus"
                                         options="item.name for item in filtersList.statusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Profit Center</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.profitCentre"
                                         options="item.name for item in filtersList.profitCentreList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Creator Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.requisitionerName"
                                         options="item.name for item in filtersList.requisitionList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>Plants</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.plant"
                                         options="item.name for item in filtersList.plantList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="1==2">
                            <h5><strong>Project Type</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.projectType"
                                         options="item.name for item in filtersList.projectTypeList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Vertical Type</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.verticalType"
                                         options="item.name for item in filtersList.verticalTypeList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="1==2">
                            <h5><strong>Section Head</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.sectionHead"
                                         options="item.name for item in filtersList.sectionHeadList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="1==2">
                            <h5><strong>WBS Code</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.wbsCode"
                                         options="item.name for item in filtersList.wbsCodeList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="(prDet.prLevel == 1 || prDet.prLevel == 4 )">
                            <h5><strong>Purchase Group Code</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.purcahseGroup"
                                         options="item.name for item in filtersList.purchaseGroupList1"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="1==2">
                            <h5><strong>Customer Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.projectName"
                                         options="item.name for item in filtersList.projectNameList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel == 1">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.prFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.prFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel == 1">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.prToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.prToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1" ng-if="(prDet.prLevel == 1 || prDet.prLevel == 4 )"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>
                        <!--<div class="row">-->
                        <!--</div>-->
                        <div class="col-md-1 top-buffer">
                            <div class="row pull-right" >
                                <label class="switch" >
                                    <input type="checkbox" ng-model="prDet.isRFP" value="true" ng-disabled="true" />
                                    <span class="slider round"></span>
                                </label><br />
                                        <strong class="text-warning">RFP/RFI</strong>
                            </div>
                        </div>

                        <div class="col-md-2 m-t-20" ng-if="(prDet.prLevel == 1 || prDet.prLevel == 4 )" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" ng-if="showRequirementButton()"
                                    ng-click="requirementMappingClick()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Post Requirement
                            </button>
                        </div>
                        <div class="col-md-2" ng-if="showRequirementButton()" style="margin-top: 10px;">
                            <div class="col-md-12"><div class="row"><label><strong>PR's Selected</strong></label></div></div>
                            <textarea style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;">{{selectedPRNumbers}}</textarea>
                        </div>
                        <div class="col-md-2 m-t-20 " ng-if="(prDet.prLevel == 2 || prDet.prLevel == 3)" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" ng-if="showRequirementItemsButton()"
                                    ng-click="requirementMappingClick()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Post Requirement
                            </button>
                        </div>
                        <div class="col-md-4" style="margin-top: 10px;" ng-if="showRequirementItemsButton() || showRequirementButton()">
                            <div class="col-md-12"><div class="row"><label><strong>Select Requirement To Link</strong></label></div></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="has-feedback" style="width:200px">
                                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchRequirement();" ng-model="filters.searchRequirement"
                                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <multiselect class="input-xlarge" multiple="false" hideoptions="true" fieldtitle="REQ_TITLE"
                                                     fieldtitledefault="Results"
                                                     ng-model="filters.selectedRequirement"
                                                     options="rfq.REQ_TITLE for rfq in filteredRequirements"
                                                     change="selectRequirement()"></multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="list">


                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="white-box">-->
                    <div class="row" style="margin-top:25px;" ng-if="(prDet.prLevel == 1 || prDet.prLevel == 4 )">
                        <div class="col-md-12 pull-left" style="margin-bottom:10px">                            
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">New PR's ::  {{ PRStats.newPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">

                                    <h5 class="text-center" style="margin-top:5px;">Partial PR's ::  {{ PRStats.partialPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">In-Progress PR's ::  {{ PRStats.inProgressPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div  style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of Items in PR'S ::  {{PRStats.totalPRItems}}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of RFQ's Posted ::  {{PRStats.totalRFQPosted}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive z-depth-2">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table table-striped">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th></th>
                                            <th style="min-width:200px;">PR Number</th>
                                            <th style="min-width:100px;">Plant</th>
                                            <th style="min-width:100px;">Plant Name</th>
                                            <th style="min-width:150px;">PR Creator Name</th>
                                            <th style="min-width:50px;">Items</th>
                                            <th style="min-width:50px;">Status</th>
                                            <th style="min-width:150px;">Release Date</th>
                                            <!--<th style="min-width:150px;">Requisitioner Name</th>-->

                                            <!--<th style="min-width:150px;">GMP</th>-->
                                            <!--<th style="min-width:150px;">WBS Code</th>-->


                                            <th style="min-width:200px;">Purchase Group Code</th>
                                            <th style="min-width:200px;">Purchase Group Name</th>
                                            <th style="min-width:150px;">Vertical Type</th>
                                            <!--<th style="min-width:200px;">Project Description</th>-->
                                            <!--<th style="min-width:200px;">Section Head</th>-->
                                            <!--<th style="min-width:100px;">Profit Center</th>-->
                                            <!--<th style="min-width:100px;">Project Type</th>-->
                                            <!--<th style="min-width:100px;">Sub Vertical</th>-->
                                            <th style="min-width:100px;">Comments</th>
                                            <th style="min-width:100px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="prDetails in filteredPRList">
                                            <td>
                                                <a role="button" ng-hide="prDetails.expanded" ng-click="prDetails.expanded = true;getPrItems(prDetails)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!prDetails.expanded" ng-click="prDetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                                <input type="checkbox" class="top-buffer" ng-model="prDetails.selectPRSForRFQ" ng-attr-title="{{prDetails.selectPRSForRFQ ? 'Remove PR from Requirement' : 'Add PR to Requirement'}}" role="button"
                                                       ng-show="(prDetails.NEW_PR_STATUS === 'Partial' || prDetails.NEW_PR_STATUS==='New') && prDetails.IS_PR_NOT_FOR_RFQ == 0 " ng-click="createRFQWithMultiplePR(prDetails)" />
                                            </td>
                                            <td>
                                                {{prDetails.PR_NUMBER}}
                                            </td>
                                              <td>
                                                {{prDetails.PLANT}}
                                            </td>
                                            <td>
                                                {{prDetails.PLANT_NAME}}
                                            </td>
                                            <td>
                                                {{prDetails.PR_CREATOR_NAME}}
                                            </td>
                                             <td>
                                                {{prDetails.COMPLETED_ITEMS}} / {{prDetails.TOTAL_ITEMS}}
                                            </td>
                                              <td>
                                                  <span ng-if="prDetails.IS_PR_NOT_FOR_RFQ == 1" class="text-danger">Not Required for RFQ</span>
                                                  <span ng-if="prDetails.IS_PR_NOT_FOR_RFQ != 1">{{prDetails.NEW_PR_STATUS}}</span> 
                                            </td>
                                            <td>
                                                {{prDetails.RELEASE_DATE}}
                                            </td>
                                            <!--<td>
                                                {{prDetails.REQUISITIONERS}}
                                            </td>-->
                                          
                                            <!--<td>
                                                {{prDetails.GMP}}
                                            </td>-->
                                            <!--<td>
                                                {{prDetails.WBS_CODE}}
                                            </td>-->
                                           
                                          
                                            <td>{{prDetails.PURCHASE_GROUP_CODE ? prDetails.PURCHASE_GROUP_CODE : '-'}}</td>
                                            <td>{{prDetails.PURCHASE_GROUP_NAME ? prDetails.PURCHASE_GROUP_NAME : '-'}}</td>
                                            <td>{{prDetails.VERTICAL_TYPE}}</td>
                                            <!--<td>{{prDetails.PROJECT_DESCRIPTION}}</td>-->
                                            <!--<td>{{prDetails.SECTION_HEAD}}</td>-->
                                            <!--<td>{{prDetails.PROFIT_CENTER}}</td>-->
                                            <!--<td>{{prDetails.PROJECT_TYPE}}</td>-->
                                            <!--<td>{{prDetails.SUB_VERTICAL}}</td>-->
                                        <td>
                                            {{prDetails.COMMENTS}}
                                        </td>
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <a class="fa fa-edit" role="button" style="margin-left:10px;" ng-click="goToPrAction(prDetails.PR_ID)"></a>
                                                <i class="fa fa-link" role="button" style="margin-left:10px;" data-target="#linkRFP" data-toggle="modal" aria-hidden="true" ng-show="prDetails.IS_PR_NOT_FOR_RFQ == 0" ng-click="showLinkToRFP(prDetails);" title="Link to RFP"></i>
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat-end ng-if="prDetails.expanded">
                                            <td colspan="16">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th> </th>
                                                            <th> Account Assignment Category</th>
                                                            <th> Req / Contract Number</th>
                                                            <th> Material No. </th>
                                                            <!--<th> CASNR </th>-->
                                                            <th> Name </th>
                                                            <th> Desc. </th>
                                                            <th> Long Text </th>
                                                            <th> Item Text</th>
                                                            <th> Material Description</th>
                                                            <th> Qty </th>
                                                            <th> Qty Units</th>
                                                            <th> Delivery Date </th>
                                                            <th> Service Line Item </th>
                                                            <th> Material Group </th>
                                                            <th> Category </th>
                                                            <th> Requesition Date</th>
                                                            <th> Changed Date</th>
                                                            <!--<th> GMP NGMP </th>
    <th> Purchase Group Code </th>
    <th> Purchase Group Name </th>-->
                                                            <th> Requisitioner Name</th>
                                                            <th> Requisitioner Email</th>
                                                            <th> Alternate Qty. </th>
                                                            <th> Alternate Units </th>
                                                            <th> PR Type </th>
                                                            <th> Vertical Type </th>
                                                            <th> PR Desc. </th>
                                                            <th> PR Note </th>
                                                            <!--<th> MFCD Number</th>-->
                                                            <!--<th> WBS Code</th>
                                                            <th> Customer Name </th>-->
                                                            <th> Profit Center </th>
                                                            <th> Section Head </th>
                                                            <!--<th> Project Type </th>-->

                                                            <!--<th> Deletion Indicator</th>-->
                                                            <th> Changed On Date</th>
                                                            <th> Closed Indicator</th>
                                                            <th> Deletion Indicator</th>
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="item in prDetails.PRItems">
                                                        <td>
                                                            <input style="margin-left:10px;" title="Add Item to Requirement Posting"
                                                                   ng-show="item.IS_VALID && !item.isSelected && !item.REQ_ID && !item.CONTRACT_NUMBER  && prDetails.IS_PR_NOT_FOR_RFQ == 0"
                                                                   role="button" ng-click="addToRequirementList(prDetails, item, 'ADD')" type="checkbox" ng-model="item.isCheckedPrItem" />
                                                            <input style="margin-left:10px;" title="Remove Item from Requirement Posting"
                                                                   ng-show="item.IS_VALID && item.isSelected && !item.REQ_ID && prDetails.IS_PR_NOT_FOR_RFQ == 0"
                                                                   role="button" ng-click="addToRequirementList(prDetails, item, 'REMOVE')" type="checkbox" ng-model="item.isCheckedPrItem" />
                                                        </td>
                                                        <td>{{item.ACCOUNT_ASSIGNMENT_CATEGORY}}</td>
                                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                            <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_NUMBER}}</a>
                                                            <span ng-if="item.CONTRACT_NUMBER">{{item.CONTRACT_NUMBER}} (Contract)</span> 
                                                        </td>
                                                        <td>{{item.ITEM_CODE}}</td>
                                                        <!--<td>{{item.CASNR}}</td>-->
                                                        <td>{{item.ITEM_NAME}}</td>
                                                        <td>{{item.PROJECT_TYPE}}</td>

                                                        <td>{{item.SHORT_TEXT}}</td>
                                                        <td>{{item.ITEM_TEXT}}</td>
                                                        <td>{{item.MATERIAL_DESCRIPTION}}</td>
                                                        <td>{{item.REQUIRED_QUANTITY}}</td>
                                                        <td>{{item.UNITS}}</td>
                                                        <td>{{convertDate(item.DELIVERY_DATE)}}</td>
                                                        <td>{{item.LEAD_TIME}}</td>
                                                        <td>{{item.CategoryCode}}</td>
                                                        <td>{{item.CategoryName}}</td>
                                                        <td>{{convertDate(item.REQUESITION_DATE)}}</td>
                                                        <td>{{convertDate(item.PR_CHANGE_DATE)}}</td>
                                                        <td>{{item.REQUISITIONER_NAME}}</td>
                                                        <td>{{item.REQUISITIONER_EMAIL}}</td>
                                                        <td>{{item.ALTERNATE_QUANTITY}}</td>
                                                        <td>{{item.ALTERNATE_UNITS}}</td>
                                                        <td>{{item.PR_TYPE}}</td>
                                                        <td>{{item.VERTICAL_TYPE}}</td>
                                                        <td>{{item.PR_TYPE_DESC}}</td>
                                                        <td>{{item.PR_NOTE}}</td>
                                                        <!--<td>{{item.MFCD_NUMBER}}</td>-->
                                                        <!--<td>{{item.WBS_CODE}}</td>
                                                        <td>{{item.PROJECT_DESCRIPTION}}</td>-->
                                                        <td>{{item.PROFIT_CENTER}}</td>
                                                        <td>{{item.SECTION_HEAD}}</td>
                                                        <!--<td>{{item.SUB_VERTICAL}}</td>-->

                                                        <!--<td>{{item.LOEKZ}}</td>-->
                                                        <td>{{convertDate(item.ERDAT)}}</td>
                                                        <td>{{item.EBAKZ}}</td>
                                                        <!--<td>
        <i ng-if="item.IS_VALID" class="fa fa-check text-success" aria-hidden="true"></i>
        <i ng-if="!item.IS_VALID" class="fa fa-times text-danger" aria-hidden="true"></i>
    </td>-->
                                                        <td>
                                                            <span ng-if="item.IS_VALID">0</span>
                                                            <span ng-if="!item.IS_VALID">1</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>PRStats.totalPRs)?(PRStats.totalPRs):(pageSizeTemp+9) }} of {{ PRStats.totalPRs }}</strong>
                                <!--<strong>Displaying: {{ pageSizeTemp }} - {{ NumberOfRecords }} of {{ PRStats.totalPRs }}</strong>-->
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;" ng-if="(prDet.prLevel == 2 || prDet.prLevel == 3)">
                        <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th style="width:1%;text-align:center">Post RFQ</th>
                                        <th style="width:10%;text-align:center">Item Name</th>
                                        <th style="width:5%;text-align:center">Item code</th>
                                        <th style="width:25%;text-align:center">Item Short Text</th>
                                        <th style="width:5%;text-align:center">Material Group</th>
                                        <th style="width:5%;text-align:center">Vertical Type</th>
                                        <th style="width:3%;text-align:center">Qty</th>
                                        <th style="width:3%;text-align:center">UOM</th>
                                        <th style="width:2%;text-align:center">PR's</th>
                                        <!--<th style="width:2%;text-align:center">MFCD No.</th>
                                        <th style="width:2%;text-align:center">CAS No.</th>-->
                                        <th style="width:2%;text-align:center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr ng-repeat-start="prItem in itemsList.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">-->
                                    <tr ng-repeat-start="prItem in itemsList">
                                        <td style="text-align:center">
                                            <a role="button" ng-hide="prItem.expanded" ng-click="prItem.expanded = true;GetPRSbyItem(prItem)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!prItem.expanded" ng-click="prItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                            <input type="checkbox" class="top-buffer" ng-disabled="prItem.IsDisabled" ng-model="prItem.selectForRFQ" ng-click="PostRequirement(prItem);" />
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_DESCRIPTION}}
                                            <!--{{prItem.ITEM_NAME}}-->
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_CODE}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.ITEM_DESCRIPTION}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.CategoryName}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.VERTICAL_TYPE}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="color:tomato" title="RFQ Quantity:{{prItem.RFQ_QUANTITY}}">
                                                {{prItem.RFQ_QUANTITY}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Selected Quantity:{{prItem.SELECTED_QUANTITY}}">
                                                {{prItem.SELECTED_QUANTITY}}
                                            </a>
                                            /
                                            <a style="color:firebrick" title="Total Quantity:{{prItem.OVERALL_ITEM_QUANTITY}}">
                                                {{prItem.OVERALL_ITEM_QUANTITY}}
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.UNITS}}
                                        </td>
                                        <td style="text-align:center">
                                            <a style="color:orangered" title="Filterd PR's:{{prItem.FILTERED_PR_COUNT}}">
                                                {{prItem.FILTERED_PR_COUNT}}
                                            </a>
                                            /
                                            <a style="color:forestgreen" title="Total PR's:{{prItem.TOTAL_PR_COUNT}}">
                                                {{prItem.TOTAL_PR_COUNT}}
                                            </a>
                                        </td>
                                        <!--<td style="text-align:center">
                                            {{prItem.MFCD_NUMBER}}
                                        </td>
                                        <td style="text-align:center">
                                            {{prItem.CASNR}}
                                        </td>-->
                                        <td style="text-align:center">
                                            <a style="text-align:center;color:yellowgreen" role="button" ng-click="showPRItemlevelDetails(prItem);"
                                               data-target="#PRItemlevelPopup" data-toggle="modal">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="prItem.expanded">
                                        <td colspan="12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                        <!--set-height-->
                                                        <table class="table-striped table table-fixed table-bordered table-sm">
                                                            <thead>
                                                                <tr style="font-weight: bold">
                                                                    <th style="width:2%;text-align:center">
                                                                        <input type="checkbox" ng-model="prItem.isExpanded1" ng-click="unSelectAll(prItem,searchKeyword);prItem.selectForRFQ = false" />
                                                                        <input ng-change="searchPR(prItem.searchKeyword,prItem);" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                                    </th>
                                                                    <th style="width:2%;text-align:center"> Quantity (UOM)</th>
                                                                    <th style="width:3%;text-align:center"> Purchase Group</th>
                                                                    <th style="width:2%;text-align:center"> Release Date </th>
                                                                    <th style="width:1%;text-align:center"> Items </th>
                                                                    <th style="width:3%;text-align:center"> Plant</th>
                                                                    <th style="width:3%;text-align:center"> Status</th>
                                                                    <th style="width:5%;text-align:center"> Vertical Type</th>
                                                                    <!--<th style="width:3%;text-align:center"> Profit Center</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> Section Head</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> WBS Code</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> Project Name</th>-->
                                                                    <!--<th style="width:3%;text-align:center"> GMP</th>-->
                                                                    <th style="width:1%;text-align:center"> Req Id / Contract</th>
                                                                    <!--<th> Requested By </th>-->
                                                                    <!--<th> PR Type</th>-->
                                                                    <!--<th style="width:2%;text-align:center"> Created</th>-->
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="pr in prItem.ItemPRS" ng-style="pr.REQ_ID>0 && {'color':'tomato'}">
                                                                <td style="text-align:center"> <input type="checkbox" ng-model="pr.isChecked" ng-disabled="pr.REQ_ID>0" ng-click="consolidate(prItem,prItem.searchKeyword,pr.isChecked,'ITEM',pr);prItem.selectForRFQ = false" /> &nbsp;&nbsp;{{pr.PR_NUMBER}} </td>
                                                                <td style="text-align:center"> {{pr.TOTAL_PR_ITEM_QUANTITY}} ({{pr.UOM}})</td>
                                                                <td style="text-align:center"> {{pr.PURCHASE_GROUP_NAME}}</td>
                                                                <td style="text-align:center"> {{pr.RELEASE_DATE}}</td>
                                                                <td style="text-align:center"> {{pr.TOTAL_ITEMS}} </td>
                                                                <td style="text-align:center"> {{pr.PLANT_NAME}} </td>
                                                                <td style="text-align:center"> {{pr.PR_STATUS}} </td>
                                                                <td style="text-align:center"> {{pr.VERTICAL_TYPE}} </td>
                                                                <!--<td style="text-align:center"> {{pr.PROFIT_CENTER}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.SECTION_HEAD}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.WBS_CODE}} </td>-->
                                                                <!--<td style="text-align:center"> {{pr.PROJECT_TYPE}} </td>-->
                                                                <!--<td> {{pr.GMP}} </td>-->
                                                                <td style="text-align:center">
                                                                    <span ng-if="pr.REQ_ID">{{pr.REQ_ID}} </span>
                                                                    <span ng-if="pr.CONTRACT_NUMBER">{{pr.CONTRACT_NUMBER}} (Contract)</span>
                                                                </td>
                                                                <!--<td style="text-align:center"> {{pr.CREATED_DATE}}</td>-->

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp1 }} - {{ ((pageSizeTemp1 +9)>PRItemStats.totalPRs)?(PRItemStats.totalPRs):(pageSizeTemp1+9) }} of {{ PRItemStats.totalPRs }}</strong>
                            <!--<strong>Displaying: {{ ((currentPage1-1) * itemsPerPage1) +  1 }} - {{ (((currentPage1-1) * itemsPerPage1) +  10) > itemsList.length ? itemsList.length :  (((currentPage1-1) * itemsPerPage1) +  10)}} of {{itemsList.length}}</strong>-->
                            <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="setPage1(prDet.prLevel,currentPage1)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>


                    <!--</div>-->
                </div>


                <span class="pull-right">
                    <div class="modal" id="linkRFP" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Link RFP/RFQ</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--<select data-placeholder="Select a RFP..." name="RFP" ng-model="selectedRFP" ng-options="item.title for item in myAuctions1" class="form-control p-0"></select>-->
                                                <div class="multiple-selection-dropdown">
                                                    <div class="selected-items-box">
                                                        --------- Select RFPs ---------
                                                        <span><i class="fa fa-caret-down pull-right" aria-hidden="true"></i></span>
                                                    </div>
                                                    <div class="list">
                                                        <div class="has-feedback" style="width:200px">
                                                            <input class="form-control" ng-change="searchRFPs(rfpSearch);" ng-model="rfpSearch" type="text" placeholder="Title or REQ Number">
                                                            <span class="form-control-feedback">
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </div>
                                                        <ul class="items-list">
                                                            <li ng-repeat="rfq in myAuctionsFiltred">
                                                                <input type="checkbox" ng-model="rfq.isSelected" ng-true-value="true" value="true" />
                                                                <span>{{rfq.REQ_TITLE }} ({{rfq.REQ_NUMBER}})</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <br />
                                                <button type="button"
                                                        class="btn btn-info"
                                                        ng-click="LinkToRFP()">
                                                    Link
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>



                <div class="modal" id="PRItemlevelPopup" tabindex="-1">
                    <div class="modal-dialog" style="width: 98%;height:100%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                <h3></h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div>
                                        <div class="box-title">
                                            <h4></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                                <table class="table table-hover table-striped table-bordered table-sm">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th> Material No. </th>
                                                            <th> Material Group </th>
                                                            <th> Category </th>
                                                            <th> Requesition Date</th>
                                                            <th> Requisitioner Name</th>
                                                            <th> Requisitioner Email</th>
                                                            <th> Name </th>
                                                            <!--<th> HSN Code </th>-->
                                                            <th> Desc. </th>
                                                            <th> Item Text</th>
                                                            <th> Qty </th>
                                                            <th> Qty Units</th>
                                                            <!--<th> Delivery Date </th>-->
                                                            <th> Service Line Item </th>
                                                            <th> Alternate Qty. </th>
                                                            <th> Alternate Units </th>
                                                            <th> PR Type </th>
                                                            <th> PR Desc. </th>
                                                            <th> PR Note </th>
                                                            <!--<th> CASNR </th>
                                                            <th> MFCD Number</th>-->
                                                            <!--<th> UOM</th>-->
                                                            <th> Material Description </th>
                                                            <th> Account Assignment Category </th>
                                                            <!--<th> WBS Code </th>
                                                            <th> Customer Name </th>-->
                                                            <th> Profit Center </th>
                                                            <th> Section Head </th>
                                                            <!--<th> Project Type </th>-->
                                                            <th> Service Long Text </th>
                                                            <th> Deletion Indicator </th>
                                                            <th> Changed On Date </th>
                                                            <th> Closed Indicator </th>
                                                            <th> Req Id</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in ItemsListPopup">
                                                            <td>{{item.ITEM_CODE}}</td>
                                                            <td>{{item.CategoryCode}}</td>
                                                            <td>{{item.CategoryName}}</td>
                                                            <td>{{convertDate(item.REQUEST_DATE)}}</td>
                                                            <td>{{item.REQUISITIONER_NAME}}</td>
                                                            <td>{{item.REQUISITIONER_EMAIL}}</td>
                                                            <td>{{item.ITEM_NAME}}</td>
                                                            <!--<td>{{item.HSN_CODE}}</td>-->
                                                            <td>{{item.ITEM_DESCRIPTION}}</td>
                                                            <td>{{item.ITEM_TEXT}}</td>
                                                            <td>{{item.REQUIRED_QUANTITY}}</td>
                                                            <td>{{item.UNITS}}</td>
                                                            <!--<td>{{item.DELIVERY_DATE}}</td>-->
                                                            <td>{{item.LEAD_TIME}}</td>
                                                            <td>{{item.ALTERNATE_QUANTITY}}</td>
                                                            <td>{{item.ALTERNATE_UNITS}}</td>
                                                            <td>{{item.PR_TYPE}}</td>
                                                            <td>{{item.PR_TYPE_DESC}}</td>
                                                            <td>{{item.PR_NOTE}}</td>
                                                            <!--<td>{{item.CASNR}}</td>
                                                            <td>{{item.MFCD_NUMBER}}</td>-->
                                                            <td>{{item.MATERIAL_DESCRIPTION}}</td>
                                                            <td>{{item.ACCOUNT_ASSIGNMENT_CATEGORY}}</td>
                                                            <!--<td>{{item.WBS_CODE}}</td>
                                                            <td>{{item.PROJECT_DESCRIPTION}}</td>-->
                                                            <td>{{item.PROFIT_CENTER}}</td>
                                                            <td>{{item.SECTION_HEAD}}</td>
                                                            <!--<td>{{item.SUB_VERTICAL}}</td>-->
                                                            <td>{{item.PROJECT_TYPE}}</td>
                                                            <td>{{item.LOEKZ}}</td>
                                                            <td>{{convertDate(item.ERDAT)}}</td>
                                                            <td>{{item.EBAKZ}}</td>
                                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                                <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_ID}}</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>
                                                    Available PR's in the item : {{ItemsListPopup[0].ITEM_NAME}}
                                                </h2>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive" style="height:300px;max-height: 400px;overflow-y: auto">
                                                    <!--set-height-->
                                                    <table class="table-striped table table-fixed table-bordered table-sm">
                                                        <thead>
                                                            <tr style="font-weight: bold">
                                                                <th style="width:2%;text-align:center">
                                                                    <input ng-change="filterPRsPopup(prItem.searchKeyword);" class="form-control" style="width:200px" ng-model="prItem.searchKeyword" type="text" placeholder=" Search Purchase Request No." />
                                                                </th>
                                                                <th style="width:2%;text-align:center"> Quantity </th>
                                                                <th style="width:3%;text-align:center"> Purchase Group</th>
                                                                <th style="width:2%;text-align:center"> Release Date </th>
                                                                <th style="width:1%;text-align:center"> Items </th>
                                                                <th style="width:3%;text-align:center"> Plant</th>
                                                                <th style="width:3%;text-align:center"> Status</th>
                                                                <!--<th style="width:3%;text-align:center"> Profit Center</th>-->
                                                                <!--<th style="width:3%;text-align:center"> Section Head</th>-->
                                                                <!--<th style="width:3%;text-align:center"> WBS Code</th>-->
                                                                <!--<th style="width:3%;text-align:center"> Project Name</th>-->
                                                                <th style="width:3%;text-align:center"> Deletion Indicator</th>
                                                                <th style="width:3%;text-align:center"> Changed On Date</th>
                                                                <th style="width:3%;text-align:center"> Closed Indicator</th>
                                                                <th style="width:3%;text-align:center"> Vertical Type</th>
                                                                <!--<th style="width:3%;text-align:center"> Delv. Date</th>-->
                                                                <!--<th style="width:1%;text-align:center"> GMP</th>-->
                                                                <th style="width:1%;text-align:center"> Req Id</th>

                                                                <!--<th> Requested By </th>-->
                                                                <!--<th> PR Type</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="pr in ItemPRSPopUp.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))" ng-style="pr.REQ_ID>0 && {'color':'tomato'}">
                                                            <td style="text-align:center">
                                                                &nbsp;&nbsp;{{pr.PR_NUMBER}}
                                                            </td>
                                                            <td style="text-align:center"> {{pr.TOTAL_PR_ITEM_QUANTITY}}</td>
                                                            <td style="text-align:center"> {{pr.PURCHASE_GROUP_NAME}}</td>
                                                            <td style="text-align:center"> {{pr.RELEASE_DATE}}</td>
                                                            <td style="text-align:center"> {{pr.TOTAL_ITEMS}} </td>
                                                            <td style="text-align:center"> {{pr.PLANT_NAME}} </td>
                                                            <td style="text-align:center"> {{pr.PR_STATUS}} </td>
                                                            <!--<td style="text-align:center"> {{pr.PROFIT_CENTER}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.SECTION_HEAD}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.WBS_CODE}} </td>-->
                                                            <!--<td style="text-align:center"> {{pr.PROJECT_TYPE}} </td>-->
                                                            <td style="text-align:center">{{pr.LOEKZ}}</td>
                                                            <td style="text-align:center">{{convertDate(pr.ERDAT)}}</td>
                                                            <td style="text-align:center">{{pr.EBAKZ}}</td>
                                                            <td style="text-align:center">{{pr.VERTICAL_TYPE}}</td>
                                                            <!--<td style="text-align:center"> {{pr.GMP}} </td>-->
                                                            <td style="text-align:center"> {{pr.REQ_ID}} </td>

                                                        </tr>
                                                    </table>
                                                    <ul uib-pagination total-items="totalItems2" ng-model="currentPage2" items-per-page="itemsPerPage2" max-size="maxSize2" ng-change="pageChanged2()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                                </div>
                                             </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="pull-right">
                    <div class="modal" id="templateSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">{{(filters.selectedRequirement && filters.selectedRequirement.requirementId) ? 'Click to Continue' : 'Select Template'}} </h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-12" ng-hide="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                                <select data-placeholder="Select a Template..." name="template"
                                                        ng-model="selectedTemplate" ng-options="value.TEMPLATE_NAME for value in prmTemplates" class="form-control p-0"></select>
                                            </div>
                                            <div class="col-md-12" ng-if="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                                Selected Requirement: <strong>{{filters.selectedRequirement.REQ_TITLE}}</strong>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="contractPODetails.contractTable && contractPODetails.contractTable.length > 0 && ProductContracts && ProductContracts.length > 0">
                                            <h3 style="margin: 50px 0px 0px 20px;">Contracts Found</h3>
                                            <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                <table class="table table-striped table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:1%;text-align:center"></td>
                                                            <th style="width:1%;text-align:center">Product</th>
                                                            <th style="width:1%;text-align:center">Plant</th>
                                                            <th style="width:10%;text-align:center">PR(s)</th>
                                                            <th style="width:5%;text-align:center">PR Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat-start="contactItem in contractPODetails.contractTable">
                                                            <td style="text-align:center;width:1%;text-align:center">
                                                                <a role="button" ng-hide="contactItem.expanded" ng-click="contactItem.expanded = true;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                                <a role="button" ng-hide="!contactItem.expanded" ng-click="contactItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                                            </td>
                                                            <td style="text-align:left" width="15%">
                                                                {{contactItem.productName}}
                                                            </td>
                                                            <td style="text-align:left" width="25%">
                                                                {{contactItem.plantName}}
                                                            </td>
                                                            <td style="text-align:left" width="20%">
                                                                {{contactItem.prNumber}}
                                                            </td>
                                                            <td style="text-align:center" width="15%">
                                                                {{contactItem.prQuantity}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat-end ng-if="contactItem.expanded">
                                                            <td colspan="5">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="table-responsive" style="max-height:300px;max-height: 400px;overflow-y: auto">
                                                                            <table class="table-striped table table-fixed table-bordered table-sm">
                                                                                <thead>
                                                                                    <tr style="font-weight: bold">
                                                                                        <th style="width:2%;text-align:center">

                                                                                        </th>
                                                                                        <th style="width:2%;text-align:center"> Vendor</th>
                                                                                        <th style="width:3%;text-align:center"> Contract Number</th>
                                                                                        <th style="width:1%;text-align:center"> Start Date </th>
                                                                                        <th style="width:1%;text-align:center"> End Date </th>
                                                                                        <th style="width:1%;text-align:center"> Document </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tr ng-repeat="contract in contactItem.contactsArray">
                                                                                    <td style="text-align:center"> <input type="checkbox" ng-model="contract.isSelected" ng-click="chooseContract()" /> </td>
                                                                                    <td style="text-align:center"> {{contract.companyName}} ({{contract.selectedVendorCode}})</td>
                                                                                    <td style="text-align:center"> {{contract.number}}</td>
                                                                                    <td style="text-align:center"> {{contract.startTime}} </td>
                                                                                    <td style="text-align:center"> {{contract.endTime}} </td>
                                                                                    <td style="text-align:center"> {{contract.document}} </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12" style="margin: 20px 0px 0px 0px;" ng-if="chooseContractOption">
                                                <select ng-model="stateDetails.poTemplate" class="form-control p-0" data-placeholder="template" id="template" required="">
                                                    <option value="po-template">Domestic ZSDM</option>
                                                    <!--<option value="po-contract-domestic-zsdm">Domestic ZSDM</option>-->
                                                    <!--<option value="po-contract-import-zsim">Import ZSIM</option>
                                                    <option value="po-contract-bonded-wh">Bonded WH ZSBW</option>
                                                    <option value="po-contract-service-zssr">Service ZSSR</option>-->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" ng-click="navigateToPOForm()" class="btn btn-info" ng-if="chooseContractOption">Create PO</button>
                                    <button type="button" data-dismiss="modal" ng-disabled="!selectedTemplate.TEMPLATE_ID" ng-click="navigateToRequirement()" class="btn btn-info">Continue with Requirement</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
