<style>
    .myCheckBox{
        position:absolute;
        margin-left:10px;
    }
</style>
<div class="fix-header">
    <div class="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper" style="padding-top:20px;">
            <div class="container-fluid" data-ng-controller="communicationCtrl as pctrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="checkbox"><strong>All Vendors</strong></label>
                                    <label class="switch myCheckBox" style="margin-bottom:0px;">
                                        <input type="checkbox" ng-click="selectAllVendors()" ng-model="communicationOptions.allVendors" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label for="checkbox"><strong>Select Vendors by Catalogue</strong></label>
                                    <label class="switch myCheckBox" style="margin-bottom:0px;">
                                        <input type="checkbox" ng-click="selectedVendors()" ng-model="communicationOptions.selectedVenders" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword)" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" ng-if="myCategories">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-3 col-md-6 add-row add-req-items-border ng-scope form-group" style="padding-right:20px;padding-top:5px;">
                                        <div class="row" style="height:250px;overflow:auto;">
                                            <ng-include src="'communication\\views\\catalog-tree.html'">
                                            </ng-include>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-4">
                                <button class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" type="button" ng-click="retriveCategoryVendors()">
                                    Retrieve Vendors
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pmb-block" ng-if="vendorDisplayCollecton.length > 0" st-table="vendorDisplayCollecton" st-safe-src="vendorsList" style="margin-top:20px">
                                <div></div>
                                <table class="table table-striped table-middle" show-filter="false" st-filtered-collection>
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" ng-click="selectAllVendor()"></th>
                                            <th st-sort="companyName" class="header">Company</th>
                                            <th st-sort="firstName" class="header">Vendor name</th>
                                            <th class="header">Phone</th>
                                            <th class="header">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendor in vendorDisplayCollecton" ng-click="selectVendor(vendor)" style="cursor: pointer;">
                                            <td>
                                                <input type="checkbox" ng-model="vendor.selected" ng-click="selectVendor(vendor)">
                                            </td>
                                            <td>
                                                <a role="button" class="prmellipsis1" title="{{vendor.companyName}}">{{vendor.companyName}}</a>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{vendor.firstName + ' ' + vendor.lastName}}</span>
                                            </td>

                                            <td>
                                                <span class="prmellipsis1">{{ vendor.phoneNum}}</span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{ vendor.email}} </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                            </td>
                                            <td class="text-right" style="padding-top:35px">
                                                <strong>Total: {{filteredCollection.length}}</strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label><strong>Subject*</strong></label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" ng-model="communicationOptions.subject" ng-change="validateData()" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="padding-top:10px;">
                                    <div class="col-md-1">
                                        <label><strong>Body*</strong></label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea type="text" ng-model="communicationOptions.body" ng-change="validateData()" class="form-control" cols="100" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label><strong>Communication Mode:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-6">
                                    <!--<input type="checkbox" value="" ng-model="communicationOptions.checkBoxEmail" ng-change="validateData()">-->
                                    <label class="switch myCheckBox" style="margin-bottom:0px;">
                                        <input type="checkbox" ng-click="validateData()" ng-model="communicationOptions.checkBoxEmail" />
                                        <span class="slider round"></span>
                                    </label>
                                    <label style="margin-left:50px">
                                        <strong ng-if="communicationOptions.checkBoxEmail">Send Email to All Selected Vendors</strong>
                                        <span ng-if="!communicationOptions.checkBoxEmail">Send Email to Selected Vendors</span>
                                        <br />
                                        &nbsp;
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <!--<input type="checkbox" value="" ng-model="communicationOptions.checkBoxSms" ng-change="validateData()">-->
                                    <label class="switch myCheckBox" style="margin-bottom:0px;">
                                        <input type="checkbox" ng-click="validateData()" ng-model="communicationOptions.checkBoxSms" />
                                        <span class="slider round"></span>
                                    </label>
                                    <label style="margin-left:50px">
                                        <strong ng-if="communicationOptions.checkBoxSms">Send SMS to All Selected Vendors</strong>
                                        <span ng-if="!communicationOptions.checkBoxSms">Send SMS to Selected Vendors</span>
                                        <br />
                                        &nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <button class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" type="button" ng-hide="!validateData()" ng-click="sendCommunication()">
                                Send Communication
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>