﻿<style>
    .header-cards .col-md-1 {
        width: 10%;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="opsAsigneeTicketsCtrl">

                <div class="white-box" style="padding-top:10px;">
                    <div class="row" ng-show="tableView">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="clientFromDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="clientFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="clientToDate" format="DD-MM-YYYY">

                                        <input class="form-control" placeholder="Select a date" ng-model="clientToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">

                                <br /> <button ng-click="setFilters()" class="btn btn-info btn-file btn-new-look">Submit</button>

                            </div>
                            <div class="col-md-1">
                                <label class="col-md-12">Date</label>

                                <select ng-model="dateFilter" ng-change="setFilters();" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                    <option selected value="">All</option>
                                    <option value="today">Today</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="lastWeek">Last 7 days</option>
                                    <option value="lastMonth">Last 30 days</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Status</label>

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="selectedStatus"
                                                 options="s for s in statusList"
                                                 change="setFilters()"></multiselect>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Tags</label>

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="selectedTags"
                                                 options="tag for tag in filterList.tagsList"
                                                 change="setFilters()"></multiselect>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Type</label>

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="selectedtype"
                                                 options="type for type in filterList.issueTypeList"
                                                 change="setFilters()"></multiselect>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Client</label>

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="selectedClient"
                                                 options="type for type in filterList.clientNameList"
                                                 change="setFilters()"></multiselect>
                                </div>

                            </div>


                        </div>

                    </div>



                    <br />
                    <div class="row">
                        <div class="col-md-12 header-cards">
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-primary" ng-click="trainer='All';source='All';setFilters()">
                                    Total :: <span style="color:black;font-size:15px" class="badge badge-primary">{{responderTicketTemp.length }}</span>
                                </button>
                            </div>


                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="trainer='Karan';setFilters();">
                                    Karan :: <span style="color:black;font-size:15px" class="badge badge-warning">{{trainerCount['81024420267']||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-success" ng-click="trainer='Srilekha';setFilters()">
                                    Srilekha :: <span style="color:black;font-size:15px" class="badge badge-success">{{trainerCount['81024420713'] ||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-danger" ng-click="trainer='Sanjana';setFilters()">
                                    Sanjana :: <span style="color:black;font-size:15px" class="badge badge-danger">{{trainerCount['81025035308']||0 }}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="trainer='Jasjeet';setFilters()">
                                    Jasjeet :: <span style="color:black;font-size:15px" class="badge badge-warning">{{trainerCount['81024420107']||0 }}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-primary" ng-click="trainer='Kabita';setFilters()">
                                    Kabita :: <span style="color:black;font-size:15px" class="badge badge-primary">{{trainerCount['81024420183'] ||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-success" ng-click="trainer='Pavan';setFilters()">
                                    Pavan :: <span style="color:black;font-size:15px" class="badge badge-success">{{trainerCount['81024420620']||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="trainer='Manoj';setFilters()">
                                    Manoj :: <span style="color:black;font-size:15px" class="badge badge-warning">{{trainerCount['81024420515'] ||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-primary" ng-click="trainer='Kshithija';setFilters()">
                                    Kshithija :: <span style="color:black;font-size:15px" class="badge badge-primary">{{trainerCount['81024420378']||0 }}</span>
                                </button>
                            </div>
                            <div class="col-md-1" ng-show="tableView">
                                <button type="button" class="pull-right btn btn-info" ng-click="refreshTickets=[];getTicket(1);" title="">Refresh</button>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 header-cards">


                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="source='Email';setFilters();">
                                    Email :: <span style="color:black;font-size:15px" class="badge badge-warning">{{sourceCount['1']||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-success" ng-click="source='Portal';setFilters()">
                                    Portal :: <span style="color:black;font-size:15px" class="badge badge-success">{{sourceCount['2'] ||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-danger" ng-click="source='Phone';setFilters()">
                                    Phone :: <span style="color:black;font-size:15px" class="badge badge-danger">{{sourceCount['3']||0 }}</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="source='Chat';setFilters()">
                                    Chat :: <span style="color:black;font-size:15px" class="badge badge-warning">{{sourceCount['7']||0 }}</span>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="font-size:18px" class="btn btn-primary" ng-click="source='Feedback Widget';setFilters()">
                                    Feedback Widget :: <span style="color:black;font-size:15px" class="badge badge-primary">{{sourceCount['9'] ||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="font-size:18px" class="btn btn-success" ng-click="source='Outbound Email';setFilters()">
                                    Outbound Email :: <span style="color:black;font-size:15px" class="badge badge-success">{{sourceCount['10'] ||0}}</span>
                                </button>
                            </div>
                            <!--<div class="col-md-3 pull-right">
                                <span>Insert Count:: {{count.insertCount}}</span>
                                <span>Update Count:: {{count.updateCount}}</span>
                            </div>-->
                            <div class="col-md-2">
                                <!--<button type="button" style="font-size:18px" class="btn btn-danger" ng-click="setFilters();">
                                    Total Filter :: <span style="color:black;font-size:20px" class="badge badge-danger">{{responderTicket.length }}</span>
                                </button>-->
                                <div style="border:1px solid #ccc">
                                    <h5 style="margin:8px;font-size: 16px">Updated Time:: {{RefreshTimeDisplay}}</h5>
                                </div>
                            </div>
                            <div class="col-md-1" style="text-align:right">
                                <a role="button" style="font-size:2rem" ng-click="tableView=true;violationView=false;" title="Table View"><i class="fa fa-table" aria-hidden="true"></i></a>
                                <a role="button" style="font-size:2rem" ng-click="tableView=false;violationView=false;" title="Summary View"><i class="fa fa-list" aria-hidden="true"></i></a>
                                <a role="button" style="font-size:2rem" ng-click="tableView=false;violationView=true;closedView()" title="Violation and Closed Tickets View"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>

                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="col-md-12" style="border:1px solid #e4e7ea; border-radius:4px; color:#606261; padding:4px 10px 5px 10px;height:3.5rem;" ng-show="tableView">
                        <span style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;" ng-repeat="cl in filterList track by $index" ng-if="cl!='' && cl!=[] && cl!='All';">{{cl}}</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small style="color:green" ng-if="tableView" class="ng-binding">Total:: {{ responderTicket.length }}</small>
                            <div class="table-responsive" ng-if="tableView">
                                <table class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Ticket No.</th>
                                            <th>Group id</th>
                                            <th>Agent Name</th>
                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Tag</th>
                                            <th>Issue Type</th>
                                            <th>Created At</th>
                                            <th>Upadated At</th>
                                            <th>source</th>
                                            <th>Client</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="responder in responderTicket.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td><a href="https://support.prm360.com/a/tickets/{{responder.tickectID}}" target="_blank">{{responder.tickectID}}</a></td>
                                            <td>{{responder.group_id}}</td>
                                            <td>{{responder.responderName}}</td>
                                            <td>{{responder.priority}}</td>
                                            <td>{{responder.status}}</td>
                                            <td>{{responder.tags}}</td>
                                            <td>{{responder.type}}</td>
                                            <td>{{responder.created_at}}</td>
                                            <td>{{responder.updated_at}}</td>
                                            <td>{{responder.sourceText}}</td>
                                            <td>{{responder.sourceName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                            <div class="col-md-6" ng-if="!tableView&&!violationView">
                                <div class="table-responsive">
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Client Name</th>
                                                <th>Total</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="summary in summaryViewArray">
                                                <td><a role="button" ng-click="eachClient(summary.clientName)">{{summary.clientName}}</a></td>
                                                <td>{{summary.total}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="!tableView&&!violationView">
                                <div class="row">
                                    <div class="col-md-12 rcorners" ng-repeat="summary in summaryViewArrayEach">
                                        <div class="col-md-12">
                                            <div class="col-md-9">
                                                <strong>{{summary.clientName}}</strong>
                                            </div>
                                            <div class="col-md-3">
                                                <strong class="pull-right">Total: {{summary.total}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <th>Trainer Name</th>
                                                            <th>Total</th>
                                                            <th>Open</th>
                                                            <th>Pending</th>
                                                            <th>Resolved</th>
                                                            <th>Closed</th>
                                                            <th>Awaiting response</th>
                                                            <th>Trainings Scheduled</th>
                                                            <th>Pending Training Confirmation</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="data in summary.trainers">
                                                            <td>{{data.name}}</td>
                                                            <td>{{data.total || 0}}</td>
                                                            <td>{{data.Open || 0}}</td>
                                                            <td>{{data.Pending || 0}}</td>
                                                            <td>{{data.Resolved || 0}}</td>
                                                            <td>{{data.Closed || 0}}</td>
                                                            <td>{{data['Awaiting response']|| 0}}</td>
                                                            <td>{{data['Trainings Scheduled'] || 0}}</td>
                                                            <td>{{data['Pending Training Confirmation'] || 0}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <small style="color:green" class="ng-binding">Total:: {{ responderTicket.length }}</small>
                                        <div class="table-responsive">
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>Trainer Name</th>
                                                        <th>Total</th>
                                                        <th>Open</th>
                                                        <th>Pending</th>
                                                        <th>Resolved</th>
                                                        <th>Closed</th>
                                                        <th>Awaiting response</th>
                                                        <th>Trainings Scheduled</th>
                                                        <th>Pending Training Confirmation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="trainer in summaryViewTrainerArray">
                                                        <td>{{trainer.name}}</td>
                                                        <td>{{trainer.total || 0}}</td>
                                                        <td>{{trainer.Open || 0}}</td>
                                                        <td>{{trainer.Pending || 0}}</td>
                                                        <td>{{trainer.Resolved || 0}}</td>
                                                        <td>{{trainer.Closed || 0}}</td>
                                                        <td>{{trainer['Awaiting response']|| 0}}</td>
                                                        <td>{{trainer['Trainings Scheduled'] || 0}}</td>
                                                        <td>{{trainer['Pending Training Confirmation'] || 0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-12" ng-show="violationView&&!tableView">
                                <h4><strong>Closed Tickets</strong></h4>

                                <div class="row">
                                    <div class="col-md-2">

                                        <select ng-model="closedDateFilter" ng-change="closedView();" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                            <option value="">Custom Dates</option>
                                            <option selected value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="lastWeek">Last 7 days</option>
                                            <option value="lastMonth">Last 30 days</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5" ng-show="!closedDateFilter">
                                        <div class="col-md-5">
                                            <div>
                                                <label class="col-md-12">From Date</label>
                                                <div class="col-md-12" moment-picker="closedFromDate" format="DD-MM-YYYY">
                                                    <input class="form-control" placeholder="Select a date" ng-model="closedFromDate" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-5">

                                            <div>
                                                <label class="col-md-12">To Date</label>
                                                <div class="col-md-12" moment-picker="closedToDate" format="DD-MM-YYYY">
                                                    <input class="form-control" placeholder="Select a date" ng-model="closedToDate" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <br /> <button ng-click="closedView()" class="btn btn-info btn-file btn-new-look">Submit</button>
                                        </div>
                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <small style="color:green" class="ng-binding">Total:: {{ ticketsClosedCount ||0}}</small>

                                        <div class="table-responsive">
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ticket in ticketsClosedArray">
                                                        <td>{{ticket.name}}</td>
                                                        <td>{{ticket.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4><strong>Tags Violation</strong></h4>
                                        <div class="table-responsive">
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tags in violationViewTagsArray">
                                                        <td>{{tags.name}}</td>
                                                        <td>{{tags.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4><strong>Group Violations</strong></h4>

                                        <div class="table-responsive">
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="group in violationViewGroupArray">
                                                        <td>{{group.name}}</td>
                                                        <td>{{group.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4><strong>Issue Type Violation</strong></h4>

                                        <div class="table-responsive">
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="type in violationViewTypeArray">
                                                        <td>{{type.name}}</td>
                                                        <td>{{type.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>



                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
