﻿

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="opsReportsCtrl">


                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="border:1px solid #e4e7ea; border-radius:4px; color:#606261; padding:6px 10px 5px 10px;height:{{(selectedClientsArray.length>14) ? 8.5 : 5.5}}rem">
                                <span style="background:#efefef;margin-right:3px;border-radius:4px;margin-bottom:3px;display:inline-block;" ng-repeat="cl in companyClients" ng-if="cl.isChecked==true;">{{cl.cl_compName}} <span class="glyphicon glyphicon-remove" style="font-size:0.8em;" ng-click="cl.isChecked=false;fillValue(companyClients,cl.cl_compName,cl.clientDB,cl.isChecked)"></span></span>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Departments</label>
                                    <div class="dropdown">
                                        <input class="form-control" id="myInput" type="text" ng-change="searchClients(searchKeyword,companyClients);" ng-model="searchKeyword" placeholder="Please Search From Dropdown" data-toggle="dropdown" autocomplete="off">
                                        <ul class="dropdown-menu" style="width:100%;max-height:280px;overflow:auto;">
                                            <li class="col-md-12" style="padding-top:5px;padding-bottom:5px;" ng-repeat="cl in companyClients">
                                                <div class="row" ng-click="fillValue(companyClients,cl.cl_compName,cl.clientDB,cl.isChecked);"><div class="col-md-1"><input type="checkbox" ng-model="cl.isChecked"></div><div class="col-md-10" style="color:black">{{cl.cl_compName}}</div></div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="Dates.clientsFromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="Dates.clientsFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="Dates.clientsToDate" format="YYYY-MM-DD">

                                        <input class="form-control" placeholder="Select a date" ng-model="Dates.clientsToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">

                                <br /> <button ng-click="reports()" class="btn btn-info btn-file btn-new-look">Submit</button>

                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12">Date</label>

                                <select ng-model="dateFilter" ng-change="reports()" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                    <option selected value="">Custom Dates</option>
                                    <option value="today">Today</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="lastWeek">Last 7 days</option>
                                    <option value="lastMonth">Last 30 days</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <a role="button" style="font-size:2rem" ng-click="tableView=true;summaryNewUserView=false" title="Table View"><i class="fa fa-table" aria-hidden="true"></i></a>
                                <a role="button" style="font-size:2rem" ng-click="tableView=false;summaryNewUserView=false" title="Summary View"><i class="fa fa-list" aria-hidden="true"></i></a>
                                <a role="button" style="font-size:2rem" ng-click="tableView=false;summaryNewUserView=true;activeUsersView()" title="Ative User View"><i class="fa fa-user" aria-hidden="true"></i></a>

                                <!--<button id="button" ng-hide="true"></button>-->
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 text-danger text-center" ng-show="selectedClientsString.length == 0">Please select clients and get data</div>
                    <div class="row" ng-show="tableView">
                        <div class="row" ng-show="selectedClientsString.length > 0">
                            <h4 style="text-align:center;">
                                <strong>Requirement Details</strong>
                                <span>
                                    <a role="button" ng-click="getReport('REG_RFQ_REPORT')" title="Download Excel"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </span>
                            </h4>

                            <div class="col-md-12">
                              
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">

                                        <h5 style="margin:8px;font-size: 16px">Vendors Invited::  {{ vendorsInvited }}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin: 8px;font-size: 16px">Vendors Participated::<span style="color:red">{{ vendorsParticipated }}</span></h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin: 8px;font-size: 16px">Total Value ::{{minIbitialQuotationPrice}}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin: 8px;font-size: 16px">Savings :: <span style="color:red">{{savings}}</span></h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin: 8px;font-size: 16px">Percentage ::  {{percentage.toFixed(2)}}%</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin: 8px;font-size: 16px">Total Active Users ::  {{createdByArray.length}}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-12">Departments</label>

                                        <select class="form-control"
                                                ng-model="reqClientName"
                                                ng-options="cl.cl_compName as cl.cl_compName for cl in companyClients | filter:{isChecked:true,cl_compName:'!ALL_CLIENTS'}"
                                                ng-change="setFilters('requirementTable')">
                                            <option value="" selected>All Departments</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <label class="col-md-12">Req Status</label>
                                    <select ng-model="reqStatus" ng-change="setFilters('requirementTable')" class="form-control" style="margin:5px">
                                        <option selected value="ALL">ALL STATUS</option>
                                        <option value='UNCONFIRMED'>UNCONFIRMED</option>
                                        <option value='STARTED'>STARTED</option>
                                        <option value='NOTSTARTED'>NOTSTARTED</option>
                                        <option value='Negotiation Ended'>Negotiation Ended</option>
                                        <!--<option value='DELETED'>DELETED</option>-->
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-12">Created By</label>

                                        <select class="form-control"
                                                ng-model="createdBy"
                                                ng-options="createdBy for createdBy in createdByArray"
                                                ng-change="setFilters('requirementTable')">
                                            <option value="" selected>All</option>

                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">

                                <div class="table-responsive">
                                    <small style="color:green" class="ng-binding">Total Requirements:{{reqTransactions.length}}</small>
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>RequirementID</th>
                                                <th>Req Title</th>
                                                <th>Created Date</th>
                                                <th>Created By</th>
                                                <th>Req Status</th>
                                                <th>Vendors Invited</th>
                                                <th>Vendors Participated</th>
                                                <th>Min Initial Quotation Price</th>
                                                <th>Savings</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in reqTransactions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                <td>{{req.companyName}}</td>
                                                <td>{{req.requirementID}}</td>
                                                <td>{{req.title}}</td>
                                                <td>{{req.req_POSTED_ON}}</td>
                                                <td>{{req.userName}}</td>
                                                <td>{{req.closed}}</td>
                                                <td>{{req.vendorsInvited}}</td>
                                                <td>{{req.vendorsParticipated}}</td>
                                                <td>{{req.minIbitialQuotationPrice}}</td>
                                                <td>{{req.savings}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems1" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>
                            </div>


                        </div>
                        <div class="row" ng-show="selectedClientsString.length > 0">
                            <div class="col-md-12">

                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin:8px;font-size: 16px">New Users ::  <span style="color:red">{{ subUsersRegistered.length }}</span></h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control"
                                                ng-model="userClientName"
                                                ng-options="cl.cl_compName as cl.cl_compName for cl in companyClients | filter:{isChecked:true,cl_compName:'!All'}"
                                                ng-change="setFilters('usersTable')">
                                            <option value="" selected>All Departments</option>

                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-2">
                                    <h4 style="text-align:center;">
                                        <strong>New Users</strong>
                                        <span>
                                            <a role="button" ng-click="getReport('SUB_USERS')" title="Download Excel"><i class="fa fa-download" aria-hidden="true"></i></a>
                                        </span>
                                    </h4>

                                </div>

                            </div>
                            <div class="col-sm-12">

                                <div class="table-responsive">
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>User ID</th>
                                                <th>User</th>
                                                <th>E-Mail</th>
                                                <th>Phone</th>
                                                <th>Created On</th>
                                                <th>Created On</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="subUser in subUsersRegistered.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))">
                                                <td>{{subUser.companyName}}</td>
                                                <td>{{subUser.u_ID}}</td>
                                                <td>{{subUser.userName}}</td>
                                                <td>{{subUser.u_EMAIL}}</td>
                                                <td>{{subUser.u_PHONE}}</td>
                                                <td>{{subUser.dateCreated}}</td>
                                                <td>{{subUser.createdByName}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems2" ng-model="currentPage2" items-per-page="itemsPerPage2" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="selectedClientsString.length > 0">

                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div style="border:1px solid #ccc">
                                        <h5 style="margin:8px;font-size: 16px">New Vendors ::  <span style="color:red">{{ vendorRegistered.length }}</span></h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                        <select class="form-control"
                                                ng-model="vendorClientName"
                                                ng-options="cl.cl_compName as cl.cl_compName for cl in companyClients | filter:{isChecked:true,cl_compName:'!All'}"
                                                ng-change="setFilters('vendorTable')">
                                            <option value="" selected>All Departments</option>

                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-2">
                                    <h4 style="text-align:center;">
                                        <strong>New Vendors</strong>
                                        <span>
                                            <a role="button" ng-click="getReport('VENDORS_REGISTERED')" title="Download Excel"><i class="fa fa-download" aria-hidden="true"></i></a>
                                        </span>
                                    </h4>
                                </div>
                            </div>


                            <div class="col-sm-12">

                                <div class="table-responsive">
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>User ID</th>
                                                <th>User</th>
                                                <th>E-Mail</th>
                                                <th>Phone</th>
                                                <th>Created On</th>
                                                <th>Created By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="vendor in vendorRegistered.slice(((currentPage3-1)*itemsPerPage3), ((currentPage3)*itemsPerPage3))">
                                                <td>{{vendor.companyName}}</td>
                                                <td>{{vendor.u_ID}}</td>
                                                <td>{{vendor.userName}}</td>
                                                <td>{{vendor.u_EMAIL}}</td>
                                                <td>{{vendor.u_PHONE}}</td>
                                                <td>{{vendor.dateCreated}}</td>
                                                <td>{{vendor.createdByName}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems3" ng-model="currentPage3" items-per-page="itemsPerPage3" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" ng-show="!tableView&&!summaryNewUserView">

                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Client Type</label>
                                <select ng-model="clientFilter" ng-change="summaryView()" class="form-control">
                                    <option selected value="">All</option>
                                    <option value="transactional">Transactional</option>
                                    <option value="enterprise">Enterprise</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <h6>&nbsp;</h6>
                                <button id="updateCountButton">All</button>
                                <button id="button">Individual</button>

                            </div>

                            <div class="col-md-12  text-center">
                                <div class="white-box">
                                    <!--<label class="text-center">Transaction Value/Savings</label>-->
                                    <hc-chart options="reqValue" class="center-block text-center"></hc-chart>

                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="white-box">
                                    <!--<label class="text-center">Transaction Value/Savings</label>-->
                                    <hc-chart options="vendorParticipatedValue" class="center-block text-center"></hc-chart>

                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="white-box">
                                    <!--<label class="text-center">Transaction Value/Savings</label>-->
                                    <hc-chart options="newUsersValue" class="center-block text-center"></hc-chart>

                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="white-box ">
                                    <!--<label class="text-center">Transaction Value/Savings</label>-->
                                    <hc-chart options="transactionValue" class="center-block text-center"></hc-chart>

                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="white-box ">
                                    <!--<label class="text-center">Transaction Value/Savings</label>-->
                                    <hc-chart options="vendorValue" class="center-block text-center"></hc-chart>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>New Users Registered</strong></h4>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>New Vendors Onboarded</strong></h4>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th>Department</th>
                                                    <th>Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="summary in subUserRegisteredArray">
                                                    <td>{{summary.clientName}}</td>
                                                    <td>{{summary.total}}</td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th>Department</th>
                                                    <th>Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="summary in vendorRegisteredArray">
                                                    <td>{{summary.clientName}}</td>
                                                    <td>{{summary.total}}</td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="row" ng-show="summaryNewUserView">
                        <div class="col-md-6">
                            <h6>&nbsp;</h6>
                            <button id="updateCountButton1">All</button>
                            <button id="button1">Individual</button>

                        </div>
                        <div class="col-md-12 hoverTransition04 text-center">
                            <div class="white-box">
                                <!--<label class="text-center">Transaction Value/Savings</label>-->
                                <hc-chart options="activeUsersValue" class="center-block text-center"></hc-chart>

                            </div>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>