﻿

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="opsVendorReqSearchCtrl">


                <div class="white-box">
                    <div class="row">

                        <div class="col-md-12">
                            <!--<div class="col-md-2">
        <div class="form-group">
            <label class="col-md-12">From date</label>
            <div class="col-md-12" moment-picker="Dates.clientsFromDate" format="YYYY-MM-DD">
                <input class="form-control" placeholder="Select a date" ng-model="Dates.clientsFromDate" ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="col-md-12">To date</label>
            <div class="col-md-12" moment-picker="Dates.clientsToDate" format="YYYY-MM-DD">
                <input class="form-control" placeholder="Select a date" ng-model="Dates.clientsToDate" ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
    </div>-->
                            <!--<div class="col-md-3">
        <label class="col-md-12">Clients</label>
        <div class="dropdown">
            <input class="form-control" id="myInput" type="text" ng-change="searchClients(searchKeyword,companyClients);" ng-model="searchKeyword" placeholder="Please Search From Dropdown" data-toggle="dropdown" autocomplete="off">
            <ul class="dropdown-menu" style="width:100%;max-height:280px;overflow:auto;">
                <li class="col-md-12" style="padding-top:5px;padding-bottom:5px;" ng-repeat="cl in companyClients">
                    <div class="row" ng-click="fillValue(companyClients,cl.cl_compName,cl.clientDB,cl.isChecked);"><div class="col-md-1"><input type="checkbox" ng-model="cl.isChecked"></div><div class="col-md-10" style="color:black">{{cl.cl_compName}}</div></div>
                </li>

            </ul>
        </div>
    </div>-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">E-Mail</label>
                                    <div class="col-md-12">

                                        <input class="form-control" placeholder="Mail" ng-model="Dates.searchEmail">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label class="col-md-12">&nbsp;</label>
                                <span class="text-danger">OR</span>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">Phone</label>
                                    <div class="col-md-12">

                                        <input class="form-control" placeholder="Phone" ng-model="Dates.searchPhone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">

                                <br /> <button ng-click="reports()" class="btn btn-info btn-file btn-new-look">Submit</button>

                            </div>
                            <!--<div class="col-md-2">
        <div class="form-group">
            <label class="col-md-12">&nbsp;</label>
            <select class="form-control"
                    ng-model="reqClientName"
                    ng-options="cl.cl_compName as cl.cl_compName for cl in companyClients | filter:{isChecked:true,cl_compName:'!ALL_CLIENTS'}"
                    ng-change="setFilters('requirementTable')">
                <option value="" selected>All Clients</option>
            </select>
        </div>

    </div>-->
                            <div class="col-md-5">
                                <label class="col-md-12">Search</label>
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched ng-isolate-scope ng-empty" style="margin: 5px;" ng-change="setFilters('SEARCH');" ng-model="searchKeyword1" type="text" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-md-12">

                            <!--<div class="col-md-7" style="border:1px solid #e4e7ea; border-radius:4px; color:#606261; padding:6px 10px 5px 10px;height:{{(selectedClientsArray.length>14) ? 8.5 : 6}}rem">
                                <span style="background:#efefef;margin-right:3px;border-radius:4px;margin-bottom:3px;display:inline-block;" ng-repeat="cl in companyClients" ng-if="cl.isChecked==true;">{{cl.cl_compName}} <span class="glyphicon glyphicon-remove" style="font-size:0.8em;" ng-click="cl.isChecked=false;fillValue(companyClients,cl.cl_compName,cl.clientDB,cl.isChecked)"></span></span>
                            </div>-->
                           
                        </div>
                    </div>

                    <div class="col-md-12 text-danger text-center" ng-show="selectedClientsString.length == 0">Please select clients and type Mail or Phone to get data</div>
                    <div class="row" ng-if="reqTransactions.length > 0">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                Vendor Name :: <span class="text-danger">{{reqTransactions[0].vendor.firstName}}</span>
                            </div>
                            <div class="col-md-4">
                                Email :: <span class="text-danger">{{reqTransactions[0].vendor.email}}</span>
                            </div>
                            <div class="col-md-4">
                                Phone :: <span class="text-danger">{{reqTransactions[0].vendor.phoneNum}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="text-center" ng-if="errorDisplay != ''">
                                <span class="text-center text-danger">{{errorDisplay}}</span>
                            </div>
                            <div class="table table-responsive z-depth-2">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Company </th>
                                            <th>Req Id</th>
                                            <th style="min-width:300px">Title</th>
                                            <th>Req Type</th>
                                            <th>Req Status</th>
                                            <th>Freeze time</th>
                                            <th>Exp Negotiation</th>
                                            <th>OTP-PWD-DESK</th>

                                        </tr>
                                    </thead>
                                    <tr ng-repeat="client in reqTransactions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td data-title="Company">
                                            {{client.companyName}}
                                        </td>

                                        <td data-title="'Req ID'">
                                            {{client.requirementID}}
                                        </td>

                                        <td data-title="'Title'"> <span style="min-width:300px" class="prmellipsis" ng-style="{'color':(client.closed == 'STARTED' || client.closed == 'NOTSTARTED'?'#32CD32':'')}" title="{{client.title}}" style="cursor:pointer">{{client.title}}&nbsp;<span class="text-danger" style="text-transform: lowercase;font-size:0.8em;">{{client.slot_created}}</span></span></td>
                                        <td data-title="Req Type">
                                            <span style="font-size:small">{{client.closedType}}</span>
                                            <span style="font-size:small" ng-if="client.isDiscountQuotation == 1">
                                                DISCOUNT
                                            </span>
                                            <span style="font-size:small" ng-if="client.isDiscountQuotation == 2">MARGIN</span>
                                            <span style="font-size:small" ng-if="client.clientID == 4957 && client.isCapitalReq == true"> - <strong>(CAPITAL)</strong></span>
                                            <span style="font-size:small" ng-if="client.clientID == 4893 && client.isSplitEnabled == true"> - <strong>(SPLIT)</strong></span>
                                        </td>
                                        <td data-title="Req Status">{{client.closed}}</td>
                                        <td data-title="'Freeze time'"><span class="{{client.freezeTimeColor}}">{{client.quotation_FREEZ_TIME}}</span></td>
                                        <td data-title="'Exp Negotiation'"><span class="{{client.expTimeColor}}">{{client.exp_START_TIME}}</span></td>

                                        <td style="width:20%;">
                                            <!--<a title="Verify" role="button" class="btn btn-info btn-outline btn-circle m-r-5 fa fa-info text-center" ng-click="setVerifyVendors(vendor)" data-target="#vendorVerificationDetails" data-toggle="modal"></a>-->
                                            <a title="Email/Phone Verify" ng-if="reqTransactions[0].vendor.isEmailVerified !== 0 && reqTransactions[0].vendor.isOtpVerified !== 0 && (isUserEntitled(360361)||isUserEntitled(360362)|| isUserEntitled(360363))" style="color:green;"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a role="button" title="Email/Phone Verify" ng-if="reqTransactions[0].vendor.isEmailVerified == 0 || reqTransactions[0].vendor.isOtpVerified == 0 && (isUserEntitled(360361)||isUserEntitled(360362)|| isUserEntitled(360363))" ng-click="ManualVerifySmsOTP(reqTransactions[0].vendor,client.companyName)" style="color:red"><i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a role="button" ng-if="isUserEntitled(360361)||isUserEntitled(360362)|| isUserEntitled(360363)" title="Send Password" ng-click="SendPassword(reqTransactions[0].vendor,client.companyName);"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <!--<a role="button" ng-if="isUserEntitled(360361)||isUserEntitled(360362)|| isUserEntitled(360363)" title="Re-set Password" ng-click="setVerifyVendors(vendor)" data-target="#vendorVerificationDetails" data-toggle="modal"><i class="fa fa-key" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                            <a role="button" data-toggle="modal" ng-click="openAssigneeModal(reqTransactions[0].vendor,client);GetVendorTrainingHistory(client.companyName)" title="Assigned To" data-target="#assignTo"><i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a ng-if="vendor.slotCreated == 1" title="Slot Details" role="button" class="btn btn-info btn-outline m-r-5 text-center" ng-click="vendorSlotDetails(reqTransactions[0].vendor.userID)" data-target="#slotDetailsPopup" data-toggle="modal">Slot Details</a>

                                        </td>
                                    </tr>


                                </table>
                            </div>

                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="assignTo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="width: 90%;height:90%;margin-top:7%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form ng-submit="saveAssignee()">
                                    <div class="row">
                                        <div class="col-md-3 form-group">
                                            <label for="assignedTo">Assigned to</label>
                                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-change="changeCommentText()" ng-options="item as item.name for item in assignToUsers" ng-model="trainAssignee.assignedTo" required></select>
                                            <span style="color:red" ng-show="!trainAssignee.assignedTo.name">
                                                Assignee Name is required.
                                            </span>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label for="trainedTo">Trained to</label>
                                            <input type="text" class="form-control" id="trainedTo" ng-change="changeCommentText()" placeholder="trainedTo" ng-model="trainAssignee.trainedTo" required>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label for="contactNumber">Contact number</label>
                                            <input type="text" class="form-control" id="contactNumber" placeholder="contactNumber" ng-model="trainAssignee.contactNumber" required>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label for="assignedTo">E-mail</label>
                                            <input type="text" class="form-control" id="email" placeholder="email" ng-model="trainAssignee.email" required>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-5">
                                            <div class="col-md-5 form-group">
                                                <label for="assignedTo">Status</label>
                                                <select ng-model="trainAssignee.status" ng-change="changeCommentText()" class="form-control ng-pristine ng-valid ng-empty ng-touched" required>
                                                    <option selected value="Open">Training open</option>
                                                    <option value="trainingScheduled">Training scheduled</option>
                                                    <option value="trainingCompleted">Training completed</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3" ng-if="trainAssignee.status=='trainingScheduled'">
                                                <div class="form-group">
                                                    <label for="negotition">Date&Time</label>
                                                    <div moment-picker="fromDate" format="DD-MM-YYYY HH:mm" change="fromDate=newValue;changeCommentText(newValue)">
                                                        <input name="fromDate1" id="FromDate1" class="form-control" placeholder="Select a date" ng-model="fromDate" ng-model-options="{ updateOn: 'blur' }">
                                                    </div>
                                                    <span style="color:red" ng-show="!fromDate">
                                                        Date is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label ng-show="trainAssignee.freshDeskId" for="assignedTo">FreshDesk Id</label>
                                                <button type="button" ng-click="createTicket()" ng-if="!trainAssignee.freshDeskId" class="btn btn-info btn-file btn-new-look">Create FreshDesk ID</button>
                                                <input type="text" class="form-control" id="freshDeskId" placeholder="freshDeskId" ng-model="trainAssignee.freshDeskId">
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <button type="submit" ng-disabled="!trainAssignee.freshDeskId" class="pull-left btn btn-info btn-file btn-new-look">Save</button>
                                            </div>
                                        </div>
                                        <div class="col-md-7 form-group">
                                            <label for="assignedTo">Comments</label>
                                            <textarea type="text" class="form-control" id="comments" rows="4" placeholder="comments" ng-model="trainAssignee.comments" required></textarea>
                                            <span style="color:red" ng-show="!trainAssignee.comments">
                                                Comments is required.
                                            </span>
                                        </div>

                                    </div>

                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table table-responsive z-depth-2">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Training ID</th>
                                                        <th>Assigned to</th>
                                                        <th>Trained to</th>
                                                        <th>Contact number</th>
                                                        <th>E-mail</th>
                                                        <th>Status</th>
                                                        <th>Comments</th>
                                                        <th>FreshDesk Id</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="vendorTrain in vendorTrainingHistory">
                                                        <td>{{vendorTrain.VT_ID}}</td>
                                                        <td>{{vendorTrain.trainerName}}</td>
                                                        <td>{{vendorTrain.trainedContactName}}</td>
                                                        <td>{{vendorTrain.vendorPhone}}</td>
                                                        <td>{{vendorTrain.vendorEmail}}</td>
                                                        <td>{{vendorTrain.status}}</td>
                                                        <td>{{vendorTrain.comments}}</td>
                                                        <td>{{vendorTrain.tickectNo}}</td>
                                                        <td><a ng-click="editVendor(vendorTrain);trainAssignee.isEdit = 1"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>