﻿
<div class="fix-header" ng-controller="managetechevalCtrl">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="white-box">
                    <div class="row box-title">
                        <div class="col-md-6 pull-left">
                            <h3>Company Questionnaries1</h3>
                        </div>
                        <div class="col-md-6 pull-right" ng-if="isCustomer">
                            <a title="View Questionnaire Details" ng-click="goToQuestionnaireEdit(compID, 0)" class="btn btn-info pull-right">Add New Questionnaire</a>
                        </div>
                    </div>

                    <div class="row">
                       <div class="col-md-12 table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td>Title</td>
                                        <td>Description</td>
                                        <td>Start Date</td>
                                        <td>End Date</td>

                                        <td ng-if="!isCustomer">Status</td>
                                        <td ng-if="!isCustomer">Score</td>

                                        <td style="width:30%; text-align:center">Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="questionnaire in questionnaireList">
                                        <td ng-if="isCustomer" ng-click="goToEditQuestionaire(questionnaire)" style="cursor:pointer;color:blue;">
                                            <strong>{{questionnaire.title}}</strong>
                                        </td>
                                        <td ng-if="!isCustomer">
                                            <strong>{{questionnaire.title}}</strong>
                                        </td>
                                        <td>{{questionnaire.description}}</td>
                                        <td>{{questionnaire.startDate}}</td>
                                        <td>{{questionnaire.endDate}}</td>

                                        <td ng-if="!isCustomer">

                                            <span ng-if="questionnaire.isApproved == 1" class="text-success">APPROVED</span>
                                            <span ng-if="questionnaire.isApproved == 0" class="text-danger">REJECTED</span>
                                            <span ng-if="questionnaire.totalMarks && questionnaire.isApproved != 0 && questionnaire.isApproved != 1" class="text-warning">EVALUATED</span>
                                            <span ng-if="questionnaire.isApproved != 0 && questionnaire.isApproved != 1 && !questionnaire.totalMarks"> NOT EVALUATED</span>

                                        </td>
                                        <td ng-if="!isCustomer">{{questionnaire.totalMarks}}</td>

                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">

                                            <div class="dropdown btn-group " ng-if="questionnaire.userID == currentID">
                                                <!--<button class="btn btn-info" href="#">Actions</button>
     <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>-->

                                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <i class="fa fa-cog" aria-hidden="true"></i> Actions
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li ng-if="questionnaire.userID == currentID"><a class="" role="button" ng-click="goToEditQuestionaire(questionnaire)" aria-hidden="true"><strong> View and Edit Questionaire</strong></a></li>
                                                    <li ng-if="questionnaire.userID == currentID"><a class="" role="button" ng-click="goToCloneQuestionaire(questionnaire)" aria-hidden="true"><strong>Clone Questionaire</strong></a></li>

                                                    <li ng-if="questionnaire.userID == currentID"><a class="" role="button" ng-click="deletequestionnaire(questionnaire.evalID)" aria-hidden="true"><strong>Delete Questionnaire</strong></a></li>

                                                    <li ng-if="questionnaire.userID == currentID"><a class="" role="button" ng-click="goToAddQuestions(questionnaire)" aria-hidden="true"><strong>View,Edit & Add New Questions</strong></a></li>

                                                    <li ng-if="questionnaire.userID == currentID"><a class="" role="button" ng-click="gotovendorspage(questionnaire.evalID)" aria-hidden="true"><strong>Evaluate Vendor</strong></a></li>

                                                    <!--<li ng-if="questionnaire.userID == currentID"><a class="" role="button" ng-click="downloadTemplate(questionnaire.evalID)" aria-hidden="true">Questions Template</a></li>-->
                                                    <!--<li ng-if="questionnaire.userID == currentID" class="fileinput fileinput-new">
            <span class="btn btn-file m-r-10"  aria-hidden="true">
                <span title="Upload Questions" class="fileinput-new">Upload Questions</span>
                <input type="file" accept=".xlsx" id="excelquotation" itemid="excelquotation" ng-file-select-items="onFileSelect($files)" />
            </span>
        </li>
        <li ng-if="questionnaire.userID != currentID"><a class="" role="button" ng-click="gotechevalquestions(questionnaire.evalID)">Respond to Questionnaire</a></li>-->
                                                </ul>

                                            </div>

                                            <div ng-if="questionnaire.userID != currentID" class="fileinput fileinput-new">
                                                <a title="Respond to Questionnaire" ng-click="gotechevalquestions(questionnaire.evalID)" role="button" class="tm-icon fa fa-list-alt fa-2x text-center"></a>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                        
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

