﻿<div class="fix-header" ng-controller="managetechevalCtrl">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">



                <div class="white-box" ng-controller="techevalresponsesCtrl">
                    <div class="row ">
                    </div>
                    <div class="white-box">
                        <div class="box-title col-md-12">
                            <div class="col-md-1 pull-left">
                                <button class="btn btn-info btn-new-look" ng-hide="doPrint" ng-click="cancelResponse();"><< Back</button>
                            </div>
                            <div class="col-md-6 pull-left">
                                <h4>Company Questionnaires</h4>
                            </div>
                        </div>
                        <div class="box-title col-md-12">
                            <div class="col-md-4 pull-left">
                                <!--<h5>Status:
                                    <span ng-switch-when="1" class="text-success">APPROVED</span>
                                    <span ng-switch-when="0" class="text-danger">REJECTED</span>
                                    <span ng-switch-default>NOT EVALUATED</span>
                                </h5>-->



                                <h5>
                                    Status:
                                    <span ng-if="techEvalObj.isApproved == 1" class="text-success">APPROVED</span>
                                    <span ng-if="techEvalObj.isApproved == 0" class="text-danger">REJECTED</span>
                                    <span ng-if="totalUserMarks() && techEvalObj.isApproved != 0 && techEvalObj.isApproved != 1" class="text-warning">EVALUATED</span>
                                    <span ng-if="techEvalObj.isApproved != 0 && techEvalObj.isApproved != 1 && !totalUserMarks()"> NOT EVALUATED</span>
                                </h5>



                                <h5>Comments: {{techEvalObj.comments}}</h5>
                                <h5>Total Marks: {{totalUserMarks()}}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-md-12 tilesBackground  z-depth-1">
                                    <div ng-if="load == true">
                                        <mini-items-techevaluation ng-repeat="item in answers" item="item" answers="answers" method="toggle" method2="radio"></mini-items-techevaluation>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row" ng-if="isCustomer">
                                <div class="col-md-12 tilesBackground  z-depth-1">
                                    <h4>Comments:</h4>
                                    <textarea rows="4" cols="50" class="form-control" ng-model="techEvalObj.comments"></textarea>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-12 tilesBackground  z-depth-1 text-center">
                                    <button class="btn btn-success waves-effect" ng-disabled="buttonDisabled" ng-click="saveresponse();">Submit</button>
                                    <button class="btn btn-info btn-file btn-new-look" ng-click="cancelResponse();">Cancel</button>
                                    <!--<button class="btn btn-success waves-effect" ng-if="isCustomer" ng-click="techEvalObj.comments = '';saveRequestDetails(1);">Approve</button>
                                    <button class="btn btn-primary btn-file btn-new-look" ng-if="isCustomer" ng-click="saveRequestDetails(0)">Reject</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
