﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container" ng-controller="addnewstoreitemCtrl">
            <div class="row ">
            </div>
            <div class="card">
                <div class="card-header col-md-12">
                    <div class="col-md-6 pull-left">
                        <h3>Store Item</h3>
                    </div>
                    
                    <div class="col-md-6 pull-right" ng-if="itemID > 0">

                        <div class="col-md-3 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" data-ui-sref="storeitemproperties({compID:companyID, itemID:itemID})">Properties</button>
                        </div>

                    </div>


                </div>

                <div class="card-body card-padding">
                    <div class="row col-md-12">

                        <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemCode)}">
                                <input type="text" ng-model="storeItemsObj.itemCode" name="itemCodename" id="itemCodeID" class="form-control fg-input" />
                                <label class="fg-label">Item Code</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-4 m-b-30">
                            <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemType)}">
                                <i class="mdi-social-person-outline prefix"></i>
                                <select chosen data-placeholder="ItemType" name="ItemType" ng-model="storeItemsObj.itemType" required class="form-control">
                                    <option value="{{storeItemsObj.itemType}}">{{storeItemsObj.itemType}}</option>
                                    <option value="{{type}}" ng-repeat="type in typesOfMeterial">{{type}}</option>
                                </select>
                                <label class="fg-label" for="role">Item Type</label>
                            </div>                            
                        </div>

                        <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemPrice >= 0)}">
                                <input type="number" ng-model="storeItemsObj.itemPrice" name="itemPrice" id="itemPriceID" class="form-control fg-input" />
                                <label class="fg-label">Item Price</label>
                            </div>
                        </div>
                        </div>
                    <div class="row col-md-12">
                        <div class="form-group fg-float col-md-6 m-b-30">
                            <div class="fg-line input-field">
                                <i class="mdi-social-person-outline prefix"></i>
                                <select chosen data-placeholder="Type" name="ItemType" ng-change="getTaxes(itemTax);" ng-model="itemTax" required class="form-control">
                                    <option value="{{item.tax}}" ng-repeat="item in taxClassification">{{item.name}}</option>
                                </select>
                                <label class="fg-label" for="role">Item Taxes</label>
                            </div>
                        </div>


                        <div class="form-group fg-float col-md-2 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.cGST >= 0)}">
                                <input type="number" ng-model="storeItemsObj.cGST" name="cGST" id="cGSTID" class="form-control fg-input" />
                                <label class="fg-label">C-GST</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-2 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.sGST >= 0)}">
                                <input type="number" ng-model="storeItemsObj.sGST" name="sGST" id="sGST" class="form-control fg-input" />
                                <label class="fg-label">S-GST</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-2 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.iGST >= 0)}">
                                <input type="number" ng-model="storeItemsObj.iGST" name="iGST" id="iGSTID" class="form-control fg-input" />
                                <label class="fg-label">I-GST</label>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.totalStock >= 0)}">
                                <input type="text" ng-model="storeItemsObj.totalStock" name="totalStock" id="totalStockID" class="form-control fg-input" />
                                <label class="fg-label">Total Stock</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.inStock >= 0)}">
                                <input type="number" ng-model="storeItemsObj.inStock" name="inStock" id="inStockID" class="form-control fg-input" />
                                <label class="fg-label">In-Stock</label>
                            </div>
                        </div>                        

                        <div class="form-group fg-float col-md-2 m-b-30">
                            <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemUnits)}">
                                <i class="mdi-social-person-outline prefix"></i>
                                <select chosen data-placeholder="itemUnits" name="itemUnits" ng-model="storeItemsObj.itemUnits" required class="form-control">                                    
                                    <option value="{{unit.mValue}}" ng-repeat="unit in itemUnitValues" ng-selected="unit.mValue==storeItemsObj.itemUnits">{{unit.mName}}</option>
                                </select>
                                <label class="fg-label" for="role">Item Units</label>
                            </div>
                        </div> 

                        <div class="form-group fg-float col-md-2 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.doAlert >= 0)}">
                                <input type="number" ng-model="storeItemsObj.doAlert" name="doAlert" id="doAlertID" class="form-control fg-input" />
                                <label class="fg-label">Do-Alert</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-2 m-b-30 top-half-buffer">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.threshold >= 0)}">
                                <input type="number" ng-model="storeItemsObj.threshold" name="threshold" id="thresholdID" class="form-control fg-input" />
                                <label class="fg-label">Threshold</label>
                            </div>
                        </div>
                    </div>

                        <div class="row col-md-12">

                            <div class="form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemsObj.itemDescription)}">
                                    <textarea ng-model="storeItemsObj.itemDescription" id="ItemDescription" name="ItemDescriptionID" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                    <label class="fg-label">Item Description</label>
                                </div>
                            </div>

                        </div>

                    <div class="row text-center">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="saveStoreItem()">Save Store Item</button>
                        <button class="btn btn-info btn-file btn-new-look" data-ui-sref="storeitems({storeID:storeID, itemID:0})">Go Back</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>