
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />

        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="attributeCtrl">
                <div class="col-md-12"></div>
                <div class="clearfix">
                        <div class="row">
                            <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                        </div>
                </div>
                <div class="row">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div >
                                        <div class="row">
                                            <div class="col-md-2">
                                               <h2 style="margin:0px">Attributes</h2> 
                                            </div>
                                            <!--div class="col-md-10 pull-right">-->
                                                <div class="col-md-4 pull-right">
                                                    <button type="button" class="btn btn-info pull-right" ng-click="editDialog.new(property)">Create Attribute</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback" style="width:300px">
                                                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="search">
                                                        <span class="form-control-feedback">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>
                                            <!--</div>-->
                                        </div>
                                        
                                        <!--<hr>-->
                                        
                                        <!--button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create Attribute</button-->
                                        <!--<h2>
                                            
                                            
                                        </h2>
                                        <span class="clearfix"></span>
                                        <hr />-->

                                        <table class="tablesaw table-striped table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Property Type</th>
                                                    <th>Data Type</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="property in properties.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                    <td>{{property.propName}}</td>
                                                    <td>{{property.propDesc}}</td>
                                                    <td>
                                                        <span ng-if="property.propType == 0">Product</span>
                                                        <span ng-if="property.propType == 1">Category</span>
                                                    </td>
                                                    <td>{{property.propDataType}}</td>
                                                    <td><a title="Edit Attribute" role="button" ng-click="editDialog.edit(property)" class="fa fa-edit" style="width:20px;color:#057cb5; height:30px"></a>
                                                        <a title="Delete Attribute" role="button" ng-click="deleteProperty(property)" class="fa fa-trash" style="width:20px;color:#057cb5; height:30px"></a>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                    </div>
                                    
                                    <!--div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title"> Attribute</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal" action="/action_page.php">
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Name</label>
                                                                <input type="text" ng-model="propName" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Description</label>
                                                                <input class="form-control" ng-model="propDesc" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Property  Type</label>
                                                                <select name="type" class="form-control" ng-model="propType">
                                                                    <option selected="" value="0">Product </option>
                                                                    <option value="1">Category </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Data Type</label>
                                                                <select name="type" id="type" class="form-control" ng-model="propDataType">
                                                                    <option selected="" value="text">Short Text</option>
                                                                    <option value="multiline">Paragraph</option>
                                                                    <option value="drop">Dropdown</option>
                                                                    <option value="multi">Multiselect</option>
                                                                    <option value="date">Date</option>
                                                                    <option value="int">Integer Number</option>
                                                                    <option value="decimal">Decimal Number</option>
                                                                    <option value="url">URL</option>
                                                                    <option value="boolean">True/False (Boolean)</option>
                                                                    <option value="html">Rich Text</option>
                                                                    <option value="media">Media (Single)</option>
                                                                    <option value="media">Default value</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" ng-click="addProperty()" data-dismiss="modal">Save</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal fade" id="myModalEdit" role="dialog">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Edit Product Attribute</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal" action="/action_page.php" ng-model="clickedAttribute">

                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Name</label>
                                                                <input type="text" ng-model="clickedAttribute.propName" name="attribute" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Description</label>
                                                                <input type="text" ng-model="clickedAttribute.propDesc" name="attribute" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Property  Type</label>
                                                                <select name="type" class="form-control" ng-model="clickedAttribute.propType">
                                                                    <option selected="" value="0">Product </option>
                                                                    <option value="1">Category </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <label class="fg-line">Data Type</label>
                                                                <input type="text" ng-model="clickedAttribute.propDataType" name="attribute" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" ng-click="updateAttribute(clickedAttribute)" data-dismiss="modal">Save</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div-->
                                    
                                    <edit-attr-dialog model="editDialog" saveclick="saveProperty(propData)"></edit-attr-dialog>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
