
<div class="card" id="catalog-main">

    <div class="pm-body clearfix">
        <ul class="tab-nav tn-justified" data-ng-include="'template/catalogProfile-menu.html'"></ul>
        <data ui-view></data>
    </div>
</div>
