﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <!--<link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />-->

        <div id="page-wrapper">
            <div class="col-md-12" ng-controller="productEditCtrl">
                <div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="white-box">
                    <div class="pmb-block">
                        <div class="container-fluid" style="padding-left:20px">
                            <div class="clearfix">
                                <div class="col-md-12">
                                    <ul class="breadcrumb" style="background-color:inherit">
                                        <li><a href="#/products">Home</a></li>
                                        <li><a href="#/products">Products</a></li>
                                        <li class="active">
                                            {{productDetails.prodName}}
                                        </li>
                                    </ul>
                                    <div class="pull-right">
                                        <div class="btn-group" ng-hide="productId > 0 && checkProdEdit == -1">
                                            <button class="btn btn-secondary btn-sm btn-o dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-lg fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="" ng-if="false" role="button" ng-click="InactiveProduct(productDetails)" aria-hidden="true"><i class="fas fa-ban" style="color:#808080"></i> Inactive</a></li>
                                                <li><a class="" role="button" ng-click="deleteProduct(productDetails)" aria-hidden="true"><i class="fa fa-trash" style="color:#057cb5"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row entity">
                                        <div class="col-sm-2">
                                            <img id="product-thumbnail" class="img-thumbnail center-block" src="https://static.plytix.com/template/2.0.4/img/no_image.png">
                                        </div>
                                        <div class="col-sm-10">
                                            <h3>
                                                <i class="info fa fa-info-circle" id="entity_info" data-original-title="" title=""></i>
                                                {{productDetails.prodName}}
                                            </h3>
                                            <p>
                                                No: <strong> {{productDetails.prodNo}}</strong>
                                            </p>
                                            <p>
                                                HSN Code: <strong> {{productDetails.prodHSNCode}}</strong>
                                            </p>
                                            <p>
                                                Last modified: <strong> {{productDetails.dateModified}}</strong>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="row" style="height:10px;"></div>

                                    <div class="row">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#ProductGeneraltab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="General"></a>
                                            </li>
                                            <!--<li>
        <a href="#ProductAttributestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Attributes"></a>
    </li>-->
                                            <li>
                                                <a href="#ProductCategoriestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Categories"></a>
                                            </li>
                                            <li>
                                                <a href="#ProductQuotationFormat" data-toggle="tab" target="_self">
                                                    <input type="submit" class="btn btn-info btn-wide" value="Product Quotation Format">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#ProductContractInfo" data-toggle="tab" target="_self">
                                                    <input type="submit" class="btn btn-info btn-wide" value="Product Contract Info">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#ProductOtherInfo" data-toggle="tab" target="_self">
                                                    <input type="submit" class="btn btn-info btn-wide" value="Product Other Info">
                                                </a>
                                            </li>
                                            <!--<li>
        <a ng-click="productAlalysis(productId)"><input type="submit" class="btn btn-info btn-wide" value="Product Analysis"></a>
    </li>-->
                                        </ul>
                                        <div class="tab-content">
                                            <div id="ProductGeneraltab" class="tab-pane active white-box">
                                                <div class="row" ng-show="viewDetails === 'edit'">
                                                    <div class="col-xs-12 pull-right">
                                                        <div class="form-group text-right">
                                                            <input type="button" class="btn btn-info btn-wide" value="Save Details" ng-click="SaveProductDetails(productName,productDesc)">
                                                        </div>
                                                    </div>
                                                </div>

                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> Product Name*</label>
                                                                    <div>
                                                                        <input placeholder="edit Product Name" type="text" class="form-control" ng-model="prodEditDetails.prodName" />
                                                                    </div>
                                                                    <div ng-show="productErrorShow">
                                                                        <div class="help-block error logininput text-danger">{{productErrorMessage}}</div>
                                                                    </div>
                                                                    <!--<div ng-show="addnewform.$submitted || addnewform.ProductName.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addnewform.ProductName.$error.required">please enter Product Name</div>
                            </div>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> Product Code</label>
                                                                    <div>
                                                                        <input placeholder="edit Product Code" type="text" class="form-control" ng-model="prodEditDetails.prodCode" />
                                                                    </div>
                                                                    <div ng-show="productErrorShow">
                                                                        <div class="help-block error logininput text-danger">{{productCodeErrorMessage}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> Product HSN Code</label>
                                                                    <div>
                                                                        <input placeholder="edit Product HSN Code" type="text" class="form-control" ng-model="prodEditDetails.prodHSNCode" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Product No</label>
                                                                    <div>
                                                                        <input placeholder="edit Product No" type="text" class="form-control" ng-model="prodEditDetails.prodNo" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-1">
                        <div class="form-group">
                            <label style="color:#606261"><strong>GST</strong></label>
                            <div>
                                <input type="number" placeholder="GST" class="form-control" name="contractValue" ng-model="prodEditDetails.productGST" />
                            </div>
                        </div>
                    </div>-->
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Quantity Units</label>
                                                                    <div>
                                                                        <select name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodQty" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Alternative Quantity Units</label>
                                                                    <div>
                                                                        <select name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodAlternateUnits" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-2" ng-hide="true">
                                                                <div class="form-group">
                                                                    <label>Conversion of Units</label>
                                                                    <div>
                                                                        <input placeholder="edit Units" type="text" class="form-control" ng-model="prodEditDetails.unitConversion" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Preferred Brand</strong></label>
                            <div>
                                <input required type="text" placeholder="preferredBrand" class="form-control" name="preferredBrand" ng-model="prodEditDetails.prefferedBrand" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Alternate Brand</strong></label>
                            <div>
                                <input required type="text" placeholder="alternateBrand" class="form-control" name="alternateBrand" ng-model="prodEditDetails.alternateBrand" />
                            </div>
                        </div>
                    </div>-->
                                                        </div>
                                                    </div>
                                                    <!--<div class="row" style="margin-top:-20px">
                <div class="col-md-12">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Total Purchase Qty </strong></label>
                            <div>
                                <input type="text" placeholder="Total Purchase Quantity" class="form-control" name="totalPurchaseQty" ng-model="prodEditDetails.totPurchaseQty" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label style="color:#606261"><strong>In Transit</strong></label>
                            <div>
                                <input type="text" placeholder="In Transit" class="form-control" name="inTransit" ng-model="prodEditDetails.inTransit" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Lead Time</strong></label>
                            <div>
                                <input type="text" placeholder="leadTime" class="form-control" name="leadTime" ng-model="prodEditDetails.leadTime" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Departments</strong></label>
                            <div>
                                <input type="text" placeholder="departments" class="form-control" name="departments" ng-model="prodEditDetails.departments" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label><strong>Warranty Period & Shelf-life period</strong></label>
                                                                    <div>
                                                                        <input placeholder="edit Warranty Period" type="text" class="form-control" ng-model="prodEditDetails.shelfLife" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Product Description</label>
                                                                    <div>
                                                                        <textarea placeholder="edit Product Description" type="text" rows="1" class="form-control" ng-model="prodEditDetails.prodDesc" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>CAS Number</label>
                                                                    <div>
                                                                        <textarea placeholder="Enter CAS Number" type="text" rows="1" class="form-control" ng-model="prodEditDetails.casNumber"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--<div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Delivery Terms</strong></label>
                            <div>
                                <textarea placeholder="Delivery Terms" class="form-control" rows="1" type="text" name="deliveryTerms" ng-model="prodEditDetails.deliveryTerms" />
                            </div>
                        </div>
                    </div>-->
                                                            <div class="col-xs-4" ng-hide="true">
                                                                <div class="form-group">
                                                                    <label>Weight, Volume etc.,</label>
                                                                    <div>
                                                                        <input placeholder="edit Weight, Volume" type="text" class="form-control" ng-model="prodEditDetails.productVolume" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>MFCD Code</label>
                                                                    <div>
                                                                        <textarea placeholder="Enter MFCD Code" type="text" rows="1" class="form-control" ng-model="prodEditDetails.mfcdCode"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Vertical Type</label>
                                                                    <div>
                                                                        <textarea ng-disabled="true" placeholder="Vertical Type" type="text" rows="1" class="form-control" ng-model="prodEditDetails.VERTICAL_TYPE"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <!--ng-show="checkProdEdit == 1"-->
                                                                <label>Is Common Item</label>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <label ng-show="viewDetails === 'edit' && prodEditDetails.isBlink" class="text-danger" id="blink"><small><strong>{{errMsg}}  <i class="fas fa-arrow-right"></i></strong></small></label>
                                                                <a style="font-size:16px;cursor:pointer" ng-show="viewDetails === 'edit' && prodEditDetails.isBlink" class="far fa-check-circle pull-right" ng-click="SaveIsCommonItem();"></a>
                                                                <select ng-model="prodEditDetails.isCommonItem" ng-change="blink(prodEditDetails.isCommonItem,prodEditDetails.VERTICAL_TYPE)" class="form-control p-0" data-placeholder="template" id="template" required="">
                                                                    <option value="true">YES</option>
                                                                    <option value="false">NO</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                
                                                    <!-- Alternative UNITS-->
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-6">
                                                                <table class="table table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="3" style="text-align:center;">Alternative Units</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                Alternative Unit
                                                                            </td>
                                                                            <td>
                                                                                {{prodEditDetails.prodAlternateUnits}}
                                                                            </td>
                                                                            <td>
                                                                                {{prodEditDetails.unitConversion}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]">
                                                                            <td>
                                                                                Alternative Unit{{i}}
                                                                            </td>
                                                                            <td>
                                                                                {{prodEditDetails['prodAlternativeUnits' + i] ? prodEditDetails['prodAlternativeUnits' + i] : '-'}}
                                                                            </td>
                                                                            <td>
                                                                                {{prodEditDetails['prodAlternativeUnits_con' + i] ? prodEditDetails['prodAlternativeUnits_con' + i] : '-'}}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- ^ Alternative UNITS-->
                                                    <!--<div class="row" style="margin-top:-20px;">
                <div class="col-md-12">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Terms and Condition</strong></label>
                            <div>
                                <textarea placeholder="Terms and Condition" class="form-control" rows="1" type="text" name="termsConditions" ng-model="prodEditDetails.termsConditions" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label style="color:#606261"><strong>Requirement Attachments</strong><br></label>
                            <div>
                                <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                    <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                </div>

                                <label ng-if="attch.fileID > 0" ng-repeat="attch in prodEditDetails.multipleAttachments">
                                    {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                    <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                </label>
                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in prodEditDetails.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                                                </fieldset>
                                                <hr />
                                            </div>
                                            <div id="ProductAttributestab" class="tab-pane white-box">
                                                <div class="row">
                                                    <div class="col-md-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="pull-right col-md-3 col-xs-3">
                                                                <input type="submit" class="btn btn-info btn-wide" value="Save Attributes" ng-click="saveProperties()">
                                                            </div>

                                                            <div class="form-group col-md-8 col-xs-8">
                                                                <ul class="list-unstyled" ng-model="Properties">
                                                                    <li ng-repeat="prop in Properties">
                                                                        <div class="row">
                                                                            <div class="col-md-1">
                                                                                <label>
                                                                                    <input type="checkbox" style="opacity:1" ng-model="prop.propChecked" ng-click="propCheckChanged(prop)" />
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'text'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <input class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'multiline'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <textarea class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" rows="3"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'drop'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <select class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'multi'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <select multiple class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'int'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <input class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" type="text" value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'decimal'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <input class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'boolean'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <select class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)">
                                                                                        <option value="True">True</option>
                                                                                        <option value="False">False</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'date'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <div class="col-md-12" moment-picker="prop.propValue" format="YYYY-MM-DD">
                                                                                        <input class="form-control" ng-change="propModified(prop)" placeholder="select a date (YYYY-MM-DD)" ng-model="prop.propValue" ng-model-options="{ updateOn: 'blur' }">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ProductCategoriestab" class="tab-pane">
                                                <fieldset ng-disabled="">
                                                    <!--productId>0 && checkProdEdit ==-1-->
                                                    <div class="row white-box">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched ng-isolate-scope ng-empty" ng-model-options="{debounce:500}" ng-change="searchCategories(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Category Name" style="">
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-6" style="overflow-y: scroll;height:400px;max-height: 400px">
                                                            <script type="text/ng-template" id="nodes_category_products.html">
                                                                <div data-nodrag>
                                                                    <label style="width:12px">
                                                                        <span data-nodrag ng-if="node.subCatCount && node.subCatCount > 0" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon"
                                                                              ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                                                                    </label>
                                                                    <label><input type="checkbox" style="opacity:1" ng-model="node.nodeChecked" ng-click="checkChanged(node, this);productsLimit = 100;" />  &nbsp; &nbsp;&nbsp;&nbsp;{{node.catName}}</label>
                                                                    <label ng-if="node.subCatCount && node.subCatCount > 0" class="font-bold"><!--({{node.subCatCount}})--></label>
                                                                </div>
                                                                <div ng-init="limit = 100">
                                                                    <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                                                        <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                                                                        <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                            <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <!--<div ng-init="limit = 100">
                            <ul ng-model="node.nodes" ng-if="node.isExpand == true" ui-tree-nodes="" ng-class="{hidden: collapsed}">
                                <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                            </ul>
                        </div>-->
                                                            </script>
                                                            <div ui-tree id="tree-root">
                                                                <ul ui-tree-nodes ng-model="nodes">
                                                                    <li ng-repeat="node in nodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                                </ul>
                                                            </div>
                                                            <!--<div ng-init="limit = 100" ui-tree id="tree-root">
                           <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                               <li ng-repeat="node in node.nodes | limitTo: limit as results"  ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                           </ul>
                    </div>-->
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="vl row">

                                                                <div class="col-md-6" ng-if="selectedCategories && selectedCategories.length > 0">
                                                                    <p><strong>Selected Categories:</strong></p>
                                                                    <script type="text/ng-template" id="selected_nodes.html">
                                                                        <div data-nodrag>
                                                                            <label>&nbsp;&nbsp;{{node.catName}}</label>
                                                                        </div>
                                                                        <!--<ul ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'selected_nodes.html'" collapsed="false" >
                                    </li>
                                </ul>-->
                                                                        <div ng-init="limit = 100">
                                                                            <ul ng-model="node.nodes">
                                                                                <!--ng-if="node.isExpand == true"-->
                                                                                <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'selected_nodes.html'" collapsed="true"></li>
                                                                                <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                    <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </script>
                                                                    <div ui-tree id="tree-root-selected">
                                                                        <ul ui-tree-nodes ng-model="selectedCategories">
                                                                            <li ng-repeat="node in selectedCategories" ui-tree-node ng-include="'selected_nodes.html'" ng-class="collapse" collapsed="false"></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="button" class="btn btn-info btn-wide" value="Save Categories" ng-click="SaveProductCategories()">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="ProductQuotationFormat" class="tab-pane">
                                                <div class="row white-box">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label>Name</label>
                                                                <input ng-model="QuotationTemplateObj.NAME" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label>Description</label>
                                                                <input ng-model="QuotationTemplateObj.DESCRIPTION" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;margin-left:-25px;">
                                                        <div class="col-md-4">
                                                            <input ng-model="QuotationTemplateObj.HAS_SPECIFICATION"
                                                                   ng-disabled="QuotationTemplateObj.HAS_PRICE"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1" />
                                                            <label>Has Specification</label>
                                                            <br />
                                                            <span class="text-danger" ng-if="hasSpecError">Please Check Has Specification</span>
                                                        </div>
                                                        <!--<div class="col-md-4">
                    <input ng-model="QuotationTemplateObj.HAS_PRICE"
                           type="checkbox"
                           style="height:15px;width:15px;"
                           ng-false-value="0"
                           ng-true-value="1"
                           ng-click="QuotationTemplateObj.HAS_PRICE===1?QuotationTemplateObj.HAS_SPECIFICATION=1:0" />

                    <label>Has Prices</label>
                </div>-->
                                                        <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_PRICE">
                                                            <input ng-model="QuotationTemplateObj.HAS_QUANTITY"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1" />
                                                            <label>Has Quantity</label>
                                                        </div>
                                                        <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_QUANTITY">
                                                            <label>Quantity</label>
                                                            <input ng-model="QuotationTemplateObj.CONSUMPTION" readonly ng-disabled="true"
                                                                   type="text" valid-number allow-decimal="true" />
                                                        </div>
                                                        <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_QUANTITY">
                                                            <label>UOM:</label>
                                                            <select ng-model="QuotationTemplateObj.UOM"
                                                                    ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                        </div>
                                                        <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_PRICE">
                                                            <input ng-model="QuotationTemplateObj.HAS_TAX"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1" />
                                                            <label>Has Tax</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <br />
                                                            <button type="button"
                                                                    class="btn btn-info"
                                                                    ng-click="SaveProductQuotationTemplate(QuotationTemplateObj)"
                                                                    ng-if="QuotationTemplateObj.NAME != '' && QuotationTemplateObj.NAME != null && QuotationTemplateObj.NAME != undefined">
                                                                Add
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">&nbsp;</div>

                                                    <div class="col-md-12" style="margin-left:-30px;">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Name
                                                                    </th>
                                                                    <th>
                                                                        Description
                                                                    </th>
                                                                    <th>
                                                                        Specification
                                                                    </th>
                                                                    <!--<th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Tax
                            </th>-->
                                                                    <th>
                                                                        Active
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="obj in ProductQuotationTemplate" ng-if="obj.IS_VALID!==-1">
                                                                    <td>
                                                                        {{obj.NAME}}
                                                                    </td>
                                                                    <td>
                                                                        {{obj.DESCRIPTION}}
                                                                    </td>
                                                                    <td>
                                                                        <i class="glyphicon" ng-class="obj.HAS_SPECIFICATION == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                                                    </td>
                                                                    <!--<td>
                                <i class="glyphicon" ng-class="obj.HAS_PRICE == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="glyphicon" ng-class="obj.HAS_QUANTITY == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                ({{obj.HAS_QUANTITY_VALUE?obj.HAS_QUANTITY_VALUE:1}})({{obj.UOM}})
                            </td>
                            <td>
                                <i class="glyphicon" ng-class="obj.HAS_TAX == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                            </td>-->
                                                                    <td>
                                                                        <div class="row text-center">
                                                                            <div class="col-md-4">
                                                                                <input ng-model="obj.IS_VALID"
                                                                                       type="checkbox"
                                                                                       style="height:15px;width:15px;"
                                                                                       ng-false-value="0"
                                                                                       ng-true-value="1" />
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button type="button"
                                                                                        class="btn btn-info btn-sm"
                                                                                        ng-click="SaveProductQuotationTemplate(obj)">
                                                                                    Save
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button type="button"
                                                                                        class="btn btn-info btn-sm"
                                                                                        ng-click="deleteProductQuotationTemplate(obj)">
                                                                                    Delete
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>


                                            <div id="ProductContractInfo" class="tab-pane">
                                                <div class="row white-box">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <label>Number <span class="text-danger">*</span></label>
                                                                <input required type="text" placeholder="Number" class="form-control"
                                                                       name="number" ng-model="selectedProductContract.number" style="border:{{contract.errorColorNum}};"
                                                                       ng-disabled="selectedProductContract.isDisabled" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>Value <span class="text-danger">*</span></label>
                                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Value" class="form-control" name="value"
                                                                       ng-model="selectedProductContract.value" style="border:{{selectedProductContract.errorColorVal}};"
                                                                       ng-disabled="selectedProductContract.isDisabled" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>Quantity</label>
                                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Quantity" class="form-control" name="quantity" ng-model="selectedProductContract.quantity"
                                                                       style="border:{{selectedProductContract.errorColorQty}};" ng-change="validateMatry()" ng-disabled="selectedProductContract.isDisabled" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>Availed Quantity</label>
                                                                <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Availed Qty" ng-change="validateMatry()" class="form-control" name="availedQuantity" ng-model="selectedProductContract.availedQuantity"
                                                                       ng-disabled="selectedProductContract.isDisabled" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>Start Date <span class="text-danger">*</span></label>
                                                                <div moment-picker="selectedProductContract.startTime" format="DD-MM-YYYY HH:mm">
                                                                    <input class="form-control" placeholder="Select Start date" ng-model="selectedProductContract.startTime" ng-model-options="{ updateOn: 'blur' }"
                                                                           style="border:{{selectedProductContract.errorColorSt}};" ng-click="validateMatry()" ng-disabled="selectedProductContract.isDisabled">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>End Date <span class="text-danger">*</span></label>
                                                                <div moment-picker="selectedProductContract.endTime" format="DD-MM-YYYY HH:mm">
                                                                    <input class="form-control" placeholder="Select End date" ng-model="selectedProductContract.endTime"
                                                                           ng-model-options="{ updateOn: 'blur' }" style="border:{{selectedProductContract.errorColorSe}};" ng-click="validateMatry()"
                                                                           ng-disabled="selectedProductContract.isDisabled">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Vendor <span class="text-danger">*</span></label>
                                                                <div class="input-group" style="border:{{selectedProductContract.errorColorNme}};border-radius: 5px;">
                                                                    <input type="text" placeholder="companyName" class="form-control" name="companyName" ng-model="selectedProductContract.companyName" data-toggle="modal"
                                                                           data-target="#myModal" readonly ng-click="contractIndex($index)" />
                                                                    <span ng-hide="selectedProductContract.isDisabled" class="input-group-addon" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus" aria-hidden="true" ng-click="contractIndex($index)"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:20px">
                                                            <div class="col-md-1">
                                                                <label>Document</label>
                                                                <input type="text" placeholder="Document" class="form-control" name="document" ng-model="selectedProductContract.document" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Payment Terms</label>
                                                                <input ng-model="selectedProductContract.paymentTerms" type="text" class="form-control" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Inco Terms</label>
                                                                <input ng-model="selectedProductContract.incoTerms" type="text" class="form-control" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Delivery Terms</label>
                                                                <input ng-model="selectedProductContract.deliveryTerms" type="text" class="form-control" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Terms & Conditions</label>
                                                                <input ng-model="selectedProductContract.generalTerms" type="text" class="form-control" />
                                                            </div>
                                                            <!--<div class="col-md-2">
                        <label>Plant <span class="text-danger">*</span></label>
                        <select data-placeholder="" name="plantFilter" ng-change="GetPRMTemplateFields()"
                                ng-model="selectedProductContract.plantObj" ng-options="item.name for item in stateDetails.plantList" class="form-control p-0"></select>
                        Current Value:{{selectedProductContract.plantCode}}
                    </div>-->
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 20px;">
                                                        <div class="col-md-12">
                                                            <label><strong>Selected Vendor Codes:<span class="text-danger">*</span></strong></label>
                                                            <div class="row"
                                                                 ng-if="selectedProductContract && selectedProductContract.vendor.vendorCodeList && selectedProductContract.vendor.vendorCodeList.length > 0"
                                                                 ng-repeat="code in selectedProductContract.vendor.vendorCodeList">
                                                                <div class="col-md-12">
                                                                    <label style="font-size:15px">
                                                                        <input type="radio" name="{{code.VENDOR_ID}}" ng-click="selectVendorCode(vendor)" ng-model="selectedProductContract.selectedVendorCode" ng-value="code.VENDOR_CODE" /> {{code.VENDOR_CODE}} - {{code.GST_NUMBER}} - {{code.GST_ADDR}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 15px;" ng-if="showContractSaveValidationError">
                                                        <div class="col-md-12">
                                                            <span><label style="font-size:15px;color:red">{{showContractSaveValidationError}}</label></span>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-top: 15px;">
                                                        <div class="col-md-2" ng-if="!selectedProductContract.isNew">
                                                            <button type="button" class="btn btn-info" ng-click="addProductContractInfo()">
                                                                Add
                                                            </button>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button type="button" class="btn btn-info" ng-click="SaveProductContractInfo()">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">&nbsp;</div>

                                                    <div class="col-md-12" style="margin-left:-30px;">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Vendor</th>
                                                                    <th>Vendor Code</th>
                                                                    <th>Contract Number</th>
                                                                    <th>Value</th>
                                                                    <th>Quantity</th>
                                                                    <th>Availed Quantity</th>
                                                                    <th>Start Date</th>
                                                                    <th>End Date</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="contract in prodEditDetails.contractManagement" ng-if="contract.isValid == 1 && prodEditDetails.contractManagement.length > 0">
                                                                    <td>
                                                                        {{contract.companyName}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.selectedVendorCode}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.number}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.value}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.quantity}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.availedQuantity}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.startTime}}
                                                                    </td>
                                                                    <td>
                                                                        {{contract.endTime}}
                                                                    </td>
                                                                    <td>
                                                                        <div class="row text-center">
                                                                            <div class="col-md-4">
                                                                                <button type="button" class="btn btn-info btn-sm" ng-click="editProductCotractInfo(contract)">
                                                                                    Edit
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button type="button" class="btn btn-info btn-sm" ng-click="deleteProductCotractInfo(contract)">
                                                                                    Delete
                                                                                </button>
                                                                            </div>
                                                                            <!--<div class="col-md-4">
                                        <button type="button" data-target="#templateSelection" data-toggle="modal" class="btn btn-info btn-sm" ng-click="generatePO(contract)">
                                            Generate PO
                                        </button>
                                    </div>-->
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="ProductOtherInfo" class="tab-pane white-box">
                                                <div class="row form-group">
                                                    <div class="col-md-2" ng-init=" parentIdx = $index" ng-repeat="columnHeader in tableColumns" ng-if="tableColumns.length > 0 && tableValues.length > 0">
                                                        <label><strong>{{columnHeader}}</strong></label>
                                                        <br />
                                                        <label ng-if="parentIdx == $index" ng-repeat="columnValue in tableValues track by $index">
                                                            <input ng-disabled="true" title="{{columnValue}}" ng-model="columnValue" type="text" class="form-control" />
                                                        </label>

                                                    </div>
                                                    <div class="col-md-offset-4" ng-if="tableColumns.length <= 0">
                                                        <h3>
                                                            <label class="text-danger">
                                                                This product doesn't have any other info.
                                                            </label>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius:10px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choose Vendors</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" ng-change="searchVendorsProd(searchvendorprodstring)" ng-model="searchvendorprodstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company">
                                        <div class="col-md-12">
                                            <div class="row" style="height:350px;overflow:auto;">
                                                <ul class="list-group">
                                                    <li class="list-group-item" ng-repeat="vendor in vendorsListProduct | limitTo: limit as results" data-dismiss="modal"
                                                        ng-click="prodContractVendorSelected(vendor)">{{vendor.companyName}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="modal" id="templateSelection" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Select Template</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{stateDetails.poTemplate}}
                                                <select ng-model="stateDetails.poTemplate" class="form-control p-0" data-placeholder="template" id="template" required="">
                                                    <option value="po-contract-domestic-zsdm">Domestic ZSDM</option>
                                                    <option value="po-contract-import-zsim">Import ZSIM</option>
                                                    <option value="po-contract-bonded-wh">Bonded WH ZSBW</option>
                                                    <option value="po-contract-service-zssr">Service ZSSR</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" ng-disabled="!stateDetails.poTemplate" ng-click="navigateToPOForm()" class="btn btn-info">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

