﻿
<div class="fix-header" >
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <!--<div ng-controller="storesCtrl">-->
                <div class="white-box" ng-controller="storesCtrl">
                    <div class="box-title">
                        <div class="form-group fg-float col-md-6 m-b-30 pull-left">
                            <h3>Company Stores</h3>
                        </div>
                        <div class="form-group fg-float col-md-6 m-b-30 pull-right">
                            <a title="View Store Details" ng-show="isCompanyStoresLoaded" ng-click="goToStoreEdit(0)" ng-hide="!showIsSuperUser()" class="btn btn-info pull-right add-new-btn">Add New Store</a>
                        </div>
                    </div>
                    <div class="row">
                        <br /> <br />
                    </div>
                        <div class="row">
                            <div class="table table-responsive" style="height:200px;overflow-y:scroll">
                                <table class="table table-hover z-depth-1 clear-both">
                                    <thead>

                                        <tr style="font-weight: bold">
                                            <td style="width:15%">Store Code</td>
                                            <td style="width:15%">Store Incharge</td>
                                            <td style="width:15%">Store Details</td>
                                            <td style="width:20%">Store Description</td>
                                            <td style="width:15%">Store Address</td>
                                            <td style="width:5%">Branches</td>
                                            <td style="width:15%; text-align:center">Actions</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="store in companyStores">
                                            <td>{{store.storeCode}}</td>
                                            <td>{{store.storeInCharge}}</td>
                                            <td>{{store.storeDetails}}</td>
                                            <td>{{store.storeDescription}}</td>
                                            <td>{{store.storeAddress}}</td>
                                            <td><a title="View branches" role="button" ng-click="goToBranches(store)" ng-hide="!store.storeBranches">{{store.storeBranches}}</a></td>
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <a title="View Store Details" role="button" ng-click="goToStoreInventory(store)" style="width:30px; height:30px"><i class="fas fa-info-circle"></i></a>
                                                <a title="Edit Store Details" role="button" ng-click="goToStoreEdit(store)" style="width:30px; height:30px"><i class="fa fa-edit"></i></a>
                                                <a title="Delete Store" role="button" ng-click="deletestore(store.storeID)" style="width:30px; height:30px"><i class="fa fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>