﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storeginhistoryCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="box-title col-md-12">
                    <div class="col-md-3 pull-left">
                        <h3>GIN History</h3>
                    </div>
                    <div class="col-md-9 pull-right">
                        <div class="col-md-1 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-click="cancelClick()">Back</button>
                        </div>
                    </div>
                </div>

                <!--<div class="card-body card-padding">-->
                <div class="row">
                    <!--<div class="row">-->
                        <div class="table table-responsive">
                            <table class="table table-hover z-depth-1 clear-both" style="background-color:#f5f5f5">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td style="width:10%">GIN Code</td>
                                        <td style="width:10%">Indent No</td>
                                        <td style="width:15%">Name</td>
                                        <td style="width:10%">Phone</td>
                                        <td style="width:10%">Issue Date</td>
                                        <td style="width:10%">Ship City</td>
                                        <td style="width:10%">Ship Mode</td>
                                        <td style="width:10%">Ship Track No.</td>
                                        <td style="width:30%">Comments</td>
                                        <td style="width:10%"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ginDetails in storeItemGINArray">
                                        <td>{{ginDetails.ginCode}}</td>
                                        <td>{{ginDetails.indentNo}}</td>
                                        <td>{{ginDetails.shipName}}</td>
                                        <td>{{ginDetails.phone}}</td>
                                        <td>{{handleDate(ginDetails.issueDate)}}</td>
                                        <td>{{ginDetails.shipMode}}</td>
                                        <td>{{ginDetails.shipTrackNo}}</td>
                                        <td>{{ginDetails.shipCity}}</td>
                                        <td>{{ginDetails.comments}}</td>
                                        <td>
                                            <button class="btn btn-info btn-file btn-new-look" ng-click="selectGinDetails(ginDetails)">Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                <!--</div>-->
            </div>
        </div>
            </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






<!--ng-if="showStoreItemObj.StoreItem"-->