﻿<style>
    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div data-ng-controller="anylaticsReportsCtrl">

                    <div class="row white-box">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="dateobj.anylaticsFromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="dateobj.anylaticsFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="dateobj.anylaticsToDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="dateobj.anylaticsToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="getAnalyticsTotalData();">Apply</button></div>
                        </div>
                        <button ng-show="false" id="upateChartButton">upateChartButton</button>
                    </div>
                    <div class="row header-cards">
                        <div class="col-md-12 co-lg-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="changetype('totalReq');getAnylaticsReportsData('totalReq','',searchKeyword,'',currentPage)">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="text-muted">Requirements Posted</span>
                                                <h3>
                                                    {{analyticsTotalData.TOTAL_RFQS}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="changetype('totalPlants');getAnylaticsReportsData('totalPlants','',searchKeyword,'',currentPage)">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="text-muted">No.of Plants</span>
                                                <h3>
                                                    {{analyticsTotalData.PARAM_TOTAL_PLANTS}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="changetype('VENDOR_RESPONSE');getAnylaticsReportsData('VENDOR_RESPONSE','',searchKeyword,'',currentPage)">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="text-muted">No. of Vendors</span>
                                                <h3>
                                                    {{analyticsTotalData.TOTAL_VENDORS}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="changetype('PR_RFQ');getAnylaticsReportsData('PR_RFQ','',searchKeyword,'',currentPage)">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="text-muted">PR to RFQ</span>
                                                <h3>
                                                    {{analyticsTotalData.TOTAL_RFQ_PRS}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="changetype('QCS_CURRENT_APPROVERS');getAnylaticsReportsData('QCS_CURRENT_APPROVERS','',searchKeyword1,'',currentPage)">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="text-muted">QCS</span>
                                                <h3>
                                                    {{analyticsTotalData.TOTAL_QCS}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="changetype('PR_PO');getAnylaticsReportsData('PR_PO','',searchKeyword2,'',currentPage)">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <span class="text-muted">PR to PO</span>
                                                <h3>
                                                    {{analyticsTotalData.TOTAL_PR_PO_COUNT}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button ng-show="false" id="upateChartButton2">upateChartButton</button>
                    </div>
                    <div class="row header-cards">
                        <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;" ng-hide="type!='totalReq'">
                            <div class="white-box" style="padding:0px">
                                <div class="row">
                                    <div class="col-md-4 top-buffer">
                                        <!--<strong>Showing Count</strong> : {{analyticsTotalReqData.reqTransactions.length}}-->
                                        <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched "
                                               style="margin:5px" ng-change="searchTable(searchKeyword,'totalReq','',currentPage);" ng-model="searchKeyword" type="text" placeholder="Search">
                                    </div>
                                    <div class="col-md-2" style="margin-top:7px;">
                                        <!--<button class="btn btn-info btn-sm" ng-click="GetReport('totalReq',analyticsTotalReqDataTemp.reqTransactions)">Export Excel</button>-->
                                        <button class="btn btn-info btn-sm" ng-click="GetReportWithOutPagination('totalReq',searchKeyword)">Export Excel</button>
                                    </div>
                                </div>

                                <div class="table-responsive row">
                                    <div class="col-md-12">
                                        <table class="table-striped table table-fixed">
                                            <thead>
                                                <tr>
                                                    <!--<th>Req.ID</th>-->
                                                    <th>Req Number</th>
                                                    <th style="min-width:200px;max-width:250px">PR Number</th>
                                                    <th>Title</th>
                                                    <th>Created Date</th>
                                                    <th>Created By</th>
                                                    <th>Req Status</th>
                                                    <th>Vendors Invited</th>
                                                    <th>Vendors Participated</th>
                                                    <th>Surrogated Vendors</th>
                                                    <th>Savings</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="req in analyticsTotalReqData.reqTransactions">
                                                    <!--<td>{{req.requirementID}}</td>-->

                                                    <td><a class="prmellipsis" title="{{req.REQ_NUMBER}}" ng-click="gotoViewReq(req.requirementID);">{{req.REQ_NUMBER}}</a></td>
                                                    <td title="{{req.PR_NUMBERS}}" style="min-width:200px;max-width:250px" class="prmellipsis150MaxHeight30">{{req.PR_NUMBERS}}</td>
                                                    <td>{{req.title}}</td>
                                                    <td>{{getDateConverted(req.req_POSTED_ON)}}</td>
                                                    <td>{{req.reqPostedBy}}</td>
                                                    <td>{{prmStatus(isCustomer,req.closed)}}</td>
                                                    <td>{{req.vendorsInvited}}</td>
                                                    <td>{{req.vendorsParticipated}}</td>
                                                    <td>{{req.SURROGATED_VENDOR_COUNT}}</td>
                                                    <td>{{req.savings}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage('totalReq','',searchKeyword,'',currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;" ng-show="type=='totalPlants'">
                        <div class="white-box" style="padding:0px">
                            <div class="row">
                                <div class="col-md-4 top-buffer">
                                    <!--<strong>Plants RFQ Count</strong> : {{analyticsTotalPlantData.reqTransactions.length}}-->
                                    <strong>Displaying Plants RFQ Count: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>
                                </div>
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <input readonly class="form-control" style="background-color:bisque" id="myInput" type="text" ng-change="searchTablePlants(searchKeyword,filtersList.plantCodeList1);" ng-model="searchKeyword" placeholder="Please Select From Dropdown" data-toggle="dropdown" autocomplete="off">
                                        <ul class="dropdown-menu" style="width:100%;max-height:280px;overflow:auto;">
                                            <li class="col-md-12" style="padding-top:5px;padding-bottom:5px;" ng-repeat="plant in filtersList.plantCodeList1">
                                                <div class="row" ng-click="selectPlantCode(plant,plant.isChecked,filtersList.plantCodeList1);">
                                                    <div class="col-md-1"><input type="checkbox" ng-model="plant.isChecked"></div>
                                                    <div class="col-md-10" style="color:black">{{plant.PLANT_NAME}}</div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <!--unCheckAll(filtersList.plantCodeList1);-->
                                    <!--<select chosen name="ListUserDepartmentDesignations" ng-model="SelectedPlantCode" style="background-color:antiquewhite"
                    ng-options="udd.PLANT_CODE as udd.PLANT_NAME for udd in analyticsTotalData.PLANTS" required class="form-control-dropdown"
                    ng-change="getAnylaticsReportsData('totalPlants')"></select>-->
                                </div>
                                <div class="col-md-2" style="margin-top:2px;">
                                    <button class="btn btn-info btn-sm" ng-click="getAnylaticsReportsData('totalPlants','',searchKeyword,'',0)">Get Plants</button>
                                </div>
                                <div class="col-md-2" style="margin-top:2px;">
                                    <!--<button class="btn btn-info btn-sm" ng-click="GetReport('totalPlants',analyticsTotalPlantDataTemp.reqTransactions)">Export Excel</button>-->
                                    <button class="btn btn-info btn-sm" ng-click="GetReportWithOutPagination('totalPlants',searchKeyword)">Export Excel</button>
                                </div>
                            </div>
                            <div class="table-responsive " >
                                <table class="table-striped table table-fixed">
                                    <thead>
                                        <tr>
                                            <!--<th>Req.ID</th>-->
                                            <th>Req Number</th>
                                            <th style="min-width:200px;max-width:250px">PR No's</th>

                                            <th>Title</th>
                                            <th style="min-width:120px;max-width:170px">Plant Code</th>
                                            <th></th>
                                            <th style="min-width:200px;max-width:250px">Plant Name</th>
                                            <th>Created Date</th>
                                            <th>Created By</th>
                                            <th>Req Status</th>
                                            <th>Vendors Invited</th>
                                            <th>Vendors Participated</th>
                                            <th>Surrogated Vendors</th>
                                            <th>Savings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in analyticsTotalPlantData.reqTransactions">
                                            <!--<td>{{req.requirementID}}</td>-->
                                            <td>{{req.REQ_NUMBER}}</td>
                                            <td title="{{req.PR_NUMBERS}}" style="min-width:200px;max-width:250px" class="prmellipsis150MaxHeight30">{{req.PR_NUMBERS}}</td>

                                            <td>{{req.title}}</td>
                                            <td title="{{req.PLANT_CODES}}" style="min-width:120px;max-width:170px" class="prmellipsis150MaxHeight30">{{req.PLANT_CODES}}</td>
                                            <td>.</td>
                                            <td title="{{req.PLANT_NAME}}" style="min-width:200px;max-width:250px" class="prmellipsis150MaxHeight30">{{req.PLANT_NAME}}</td>
                                            <td>{{getDateConverted(req.req_POSTED_ON)}}</td>
                                            <td>{{req.reqPostedBy}}</td>
                                            <td>{{prmStatus(isCustomer,req.closed)}}</td>
                                            <td>{{req.vendorsInvited}}</td>
                                            <td>{{req.vendorsParticipated}}</td>
                                            <td>{{req.SURROGATED_VENDOR_COUNT}}</td>
                                            <td>{{req.savings}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage('totalPlants','',searchKeyword,'',currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;" ng-show="type=='QCS_CURRENT_APPROVERS' || type=='QCS_APPROVAL_HISTORY'">
                        <div class="white-box" style="padding:0px">
                            <div class="row">
                                <div class="col-md-3 top-buffer">
                                    <strong>No. of QCS sent for Approval</strong> : {{qcsData[0].TotalCount}}
                                </div>
                                <div class="col-md-3 top-buffer">
                                    <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>

                                </div>
                                <div class="col-md-4">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched "
                                           style="margin:5px" ng-change="searchTable(searchKeyword1,'QCS_CURRENT_APPROVERS','',currentPage);" ng-model="searchKeyword1" type="text" placeholder="Search">
                                </div>
                                <div class="col-md-2" style="margin-top:7px;">
                                    <!--<button class="btn btn-info btn-sm" ng-click="GetReport('QCS_CURRENT_APPROVERS',qcsDataTemp)">Export Excel</button>-->
                                    <button class="btn btn-info btn-sm" ng-click="GetReportWithOutPagination('QCS_CURRENT_APPROVERS',searchKeyword1)">Export Excel</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table-striped table table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Qcs Code</th>
                                            <th>Req Number</th>
                                            <th>PR Number</th>
                                            <th>PR Item Num</th>
                                            <th>Req Title</th>
                                            <th>Qcs Priority</th>
                                            <th>Qcs Type</th>
                                            <th>Qcs Approval Status</th>
                                            <th>Created By</th>
                                            <th>Modified By</th>
                                            <th>Created on</th>
                                            <th>Latest Action</th>
                                            <th>Workflow Title</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="qcs in qcsData">
                                            <td>
                                                <a class="prmellipsis" ng-if="qcs.QCS_TYPE === 'IMPORT'" title="{{qcs.QCS_CODE}}" ng-click="goToSaveImportQCS(qcs.REQ_ID, qcs.QCS_ID)">{{qcs.QCS_CODE}}</a>
                                                <a class="prmellipsis" ng-if="qcs.QCS_TYPE === 'DOMESTIC'" title="{{qcs.QCS_CODE}}" ng-click="goToSaveDomesticQCS(qcs.REQ_ID, qcs.QCS_ID)">{{qcs.QCS_CODE}}</a>
                                            </td>
                                            <td><a class="prmellipsis" title="{{qcs.REQ_NUMBER}}" ng-click="gotoViewReq(qcs.REQ_ID);">{{qcs.REQ_NUMBER}}</a></td>

                                            <td>{{qcs.PR_NUMBER}}</td>
                                            <td>{{qcs.PR_LINE_ITEM}}</td>
                                            <td>{{qcs.REQ_TITLE}}</td>
                                            <td>{{qcs.IS_PRIMARY_ID > 1 ? 'SECONDARY' : 'PRIMARY'}}</td>
                                            <td>{{qcs.QCS_TYPE}}</td>
                                            <td>{{qcs.APPROVAL_STATUS}}</td>
                                            <td>{{qcs.CREATED_BY_NAME}}</td>
                                            <td>{{qcs.MODIFIED_BY_NAME}}</td>
                                            <td>{{getDateConverted(qcs.CREATED_DATE)}}</td>
                                            <td>
                                                {{getDateConverted(qcs.LATEST_ACTION_ON)}}
                                                <i title="History " class="fa fa-history"
                                                   ng-click="changetype('QCS_APPROVAL_HISTORY');getAnylaticsReportsData('QCS_APPROVAL_HISTORY',qcs.QCS_ID);displayNames(qcs)"
                                                   role="button" data-target="#workflowHistoryPopup" data-toggle="modal"
                                                   aria-hidden="true" style="color:lightgreen"></i>
                                            </td>
                                            <td>{{qcs.WF_TITLE}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage('QCS_CURRENT_APPROVERS','',searchKeyword,'',currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;" ng-show="type=='VENDOR_RESPONSE'">
                        <div class="white-box" style="padding:0px">
                            <div class="row">
                                <div class="col-md-4 top-buffer">
                                    <strong>No. of vendors participated in RFQ</strong> : {{vendorResponseData[0].TotalCount}}
                                </div>
                                <div class="col-md-2 top-buffer">
                                    <!--<strong>Total</strong> : {{vendorResponseData[0].TotalCount}}-->
                                    <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>
                                </div>
                                <div class="col-md-3 top-buffer">
                                    <label>Vendor Average Response Time</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched "
                                           style="margin:5px" ng-change="searchTable(searchKeyword,'VENDOR_RESPONSE','',currentPage);" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table-striped table table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Vendor Email</th>
                                            <th>Vendor Company Name</th>
                                            <th>Invitations Sent</th>
                                            <th>Participated</th>
                                            <th>Vendor Response Time <small>(Days:Hours:Minutes)</small> </th>
                                            <th>Regret Items</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendor in vendorResponseData">
                                            <td>
                                                {{vendor.VENDOR_EMAIL}}
                                            </td>
                                            <td>
                                                {{vendor.COMP_NAME}}
                                            </td>
                                            <td>
                                                {{vendor.VENDOR_INVITED}}
                                            </td>
                                            <td>
                                                {{vendor.VENDOR_PARTICIPATED}}
                                            </td>
                                            <td>
                                                {{vendor.RESPONSE_TIME_ALL}}
                                            </td>
                                            <td>
                                                {{vendor.VENDOR_NOT_PARTICIPATED}}
                                                <a ng-if="vendor.VENDOR_NOT_PARTICIPATED > 0" data-target="#vendorNotParticipated" data-toggle="modal" ng-click="getNotParticipatedList(vendor.VENDOR_ID);"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage('VENDOR_RESPONSE','',searchKeyword,'',currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;" ng-show="type=='PR_PO'">
                        <div class="white-box" style="padding:0px">
                            <div class="row">
                                <div class="col-md-4 top-buffer">
                                    <!--<strong>Total Count</strong> : {{PRTOPODATARR.length}}-->
                                    <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>

                                </div>
                                <div class="col-md-4">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched "
                                           style="margin:5px" ng-change="searchTable(searchKeyword2,'PR_PO','',currentPage);" ng-model="searchKeyword2" type="text" placeholder="Search">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table-striped table table-fixed">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">PR Number</th>
                                            <th style="text-align:center">PR Release Date</th>
                                            <th style="text-align:center">Req Number</th>
                                            <th style="text-align:center">Req Title</th>
                                            <th style="text-align:center">Req Posted Date</th>
                                            <th style="text-align:center">No. of Vendors Invited</th>
                                            <th style="text-align:center">No. of Vendors Participated</th>
                                            <th style="text-align:center">No. of Vendors Surrogated</th>
                                            <th style="text-align:center">PO Number</th>
                                            <th style="text-align:center">PO Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="prpo in PRTOPODATARR">
                                            <td style="text-align:center">
                                                {{prpo.PR_NUMBER}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.PR_RELEASE_DATE}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.REQ_NUMBER}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.REQ_TITLE}}
                                            </td>
                                            <td style="text-align:center">
                                                {{getDateConverted(prpo.REQ_POSTED_ON)}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.VENDORS_INVITED}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.VENDORS_PARTICIPATED}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.SURROGATED_VENDOR}}
                                            </td>
                                            <td style="text-align:center">
                                                {{prpo.PO_NUMBER ? prpo.PO_NUMBER : 'DRAFT-PO'}}
                                            </td>
                                            <td style="text-align:center">
                                                {{getDateConverted(prpo.PO_CREATED_DATE)}}
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end>
                                            <td colspan="10" ng-if="prpo.PR_PO_VENDOR_LIST.length > 0">
                                                <div class="table-responsive" style="{{prpo.style}}">
                                                    <table class="table-striped table">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center">Vendor Name</th>
                                                                <th style="text-align:center">Vendor Company Name</th>
                                                                <th style="text-align:center">Vendor Quoted Time</th>
                                                                <th style="text-align:center">(Quote Time - RFQ Time)</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="vendor in prpo.PR_PO_VENDOR_LIST">
                                                            <td style="text-align:center">{{vendor.VENDOR_FULL_NAME}}</td>
                                                            <td style="text-align:center">{{vendor.VENDOR_COMP_NAME}}</td>
                                                            <td style="text-align:center">{{getDateConverted(vendor.QUOTED_ON)}}</td>
                                                            <td style="text-align:center">{{calculateTime(vendor.QUOTED_ON,prpo.REQ_POSTED_ON)}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage('PR_PO','',searchKeyword2,'',currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;" ng-show="type=='PR_RFQ' || type=='RFQ'">
                        <div class="white-box" style="padding:0px">
                            <div class="row">
                                <div class="col-md-4 top-buffer">
                                    <!--<strong>Total Count</strong> : {{analyticsPRRFQData.PRRFQData.length}}-->
                                    <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>

                                </div>
                                <div class="col-md-4">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched "
                                           style="margin:5px" ng-change="searchTable(searchKeyword,'PR_RFQ','',currentPage);" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table-striped table table-fixed">
                                    <thead>
                                        <tr>
                                            <th>PR Number</th>
                                            <th>RFQ Count</th>
                                            <th>PR Release Date</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                            <th>Modified Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="req in analyticsPRRFQData.PRRFQData">
                                            <td>{{req.PR_NUMBER}}</td>
                                            <td>
                                                <a role="button" ng-hide="req.expanded" ng-click="req.expanded = true;getAnylaticsReportsData('RFQ',req.REQ_IDS,'',req.PR_NUMBER)" title="More Details">
                                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                                </a>{{req.REQ_COUNT}}
                                                <a role="button" ng-hide="!req.expanded" ng-click="req.expanded = false" title="Hide Details"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
                                            </td>
                                            <td>{{req.RELEASE_DATE}}</td>
                                            <td>{{req.CREATED_BY}}</td>
                                            <td>{{req.CREATED_DATE}}</td>
                                            <td>{{req.MODIFIED_DATE}}</td>

                                        </tr>
                                        <tr ng-repeat-end ng-if="req.expanded">
                                            <td colspan="6">
                                                <div class="table-responsive">
                                                    <table class="table-striped table table-fixed">
                                                        <thead>
                                                            <tr>
                                                                <th>REQ Number</th>
                                                                <th>REQ Title</th>
                                                                <th>REQ Status</th>
                                                                <th>Negotiation Start Time</th>
                                                                <th>Negotiation End Time</th>
                                                                <th>Qcs Count</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rfqDetail in req.SubPRRFQData.RFQDataWithPR">
                                                                <td>
                                                                    <a class="prmellipsis" title="{{rfqDetail.requirementNumber}}" ng-click="gotoViewReq(rfqDetail.requirementID);">{{rfqDetail.requirementNumber}}</a>
                                                                </td>
                                                                <td>{{rfqDetail.title}}</td>
                                                                <td>{{prmStatus(isCustomer,rfqDetail.status)}}</td>
                                                                <td>{{rfqDetail.startTime}}</td>
                                                                <td>{{rfqDetail.endTime}}</td>
                                                                <td>
                                                                    {{rfqDetail.qcsDetails.length}}
                                                                    <a ng-if="rfqDetail.qcsDetails.length > 0" data-target="#rfqQcsDetails" data-toggle="modal" ng-click="getrfqQcsDetails(rfqDetail.qcsDetails);"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage('PR_RFQ','',searchKeyword,'',currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>
                    </div>

                    <div class="modal" id="workflowHistoryPopup">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Approval History</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row white-box">
                                        <h5 class="modal-title">Approval History for requirement <strong>{{rfqTitle}} </strong> with Req Number <strong> {{REQ_NUMBER}} </strong> and the associated workflow is <strong> {{workflowTitle}} </strong></h5>
                                    </div>
                                    <div class="row" style="max-height: 500px;height:500px;overflow-y: auto">
                                        <div class="col-md-6" ng-repeat="qcsHistory in qcsApprovalHistoryData">
                                            <div class="white-box" style="max-height: 140px;height:140px;overflow-y: auto">
                                                <div class="row" ng-class="qcsHistory.WF_STATUS == 'APPROVED'? 'text-success' : (qcsHistory.WF_STATUS == 'REJECTED' ? 'text-danger' : 'text-warning')">
                                                    <div class="col-md-12">
                                                        <span class="top-buffer">
                                                            Action : {{$index+1}}
                                                            <br />
                                                            Status:&nbsp;<strong> {{qcsHistory.WF_STATUS}}</strong>
                                                            <br />
                                                            By: <strong>{{qcsHistory.MODIFIED_BY}}</strong>
                                                            <br />
                                                            On: <strong>{{getDateConverted(qcsHistory.CREATED)}}</strong>
                                                            <br />
                                                            Comments: <strong>{{qcsHistory.WF_COMMENTS}}</strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label style="margin-top:10px">
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="modal-footer bg-white">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade" id="vendorNotParticipated" role="dialog">
                        <div class="modal-dialog" style="width:700px;height:500px; overflow-y:auto">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Not Participated List</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive" style="overflow-y: auto">
                                            <table class="table-striped table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>SL.No.</th>
                                                        <th>
                                                            REQ ID
                                                        </th>
                                                        <th>ITEM</th>
                                                        <th>COMMENTS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="req in NotParticipatedList">
                                                        <td>
                                                            {{$index+1}}
                                                        </td>
                                                        <td>
                                                            {{req.requirementID}}
                                                        </td>
                                                        <td>
                                                            <table style="width:100%;">
                                                                <tr ng-repeat="item in req.listRequirementItems" style="border-bottom:1px solid;">
                                                                    <td>
                                                                        {{item.productIDorName}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table style="width:100%;">
                                                                <tr ng-repeat="item in req.listRequirementItems" style="border-bottom:1px solid;">
                                                                    <td>
                                                                        {{item.regretComments}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade" id="rfqQcsDetails" role="dialog">
                        <div class="modal-dialog" style="width:700px;height:500px; overflow-y:auto">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">QCS Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive" style="overflow-y: auto">
                                            <table class="table-striped table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>SL.No.</th>
                                                        <th>
                                                            QCS NO
                                                        </th>
                                                        <th>
                                                            QCS CODE
                                                        </th>
                                                        <th>QCS TYPE</th>
                                                        <th>CREATED DATE</th>
                                                        <th>PRIORITY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="qcs in qcsDetailsRfq">
                                                        <td>
                                                            {{$index+1}}
                                                        </td>
                                                        <td>
                                                            {{qcs.QCS_ID}}
                                                        </td>
                                                        <td>
                                                            <a class="prmellipsis" ng-if="qcs.QCS_TYPE === 'IMPORT'" title="{{qcs.QCS_CODE}}" ng-click="goToSaveImportQCS(qcs.REQ_ID, qcs.QCS_ID)">{{qcs.QCS_CODE}}</a>

                                                            <a class="prmellipsis" ng-if="qcs.QCS_TYPE === 'DOMESTIC'" title="{{qcs.QCS_CODE}}" ng-click="goToSaveDomesticQCS(qcs.REQ_ID, qcs.QCS_ID)">{{qcs.QCS_CODE}}</a>
                                                        </td>
                                                        <td>
                                                            {{qcs.QCS_TYPE}}
                                                        </td>
                                                        <td>
                                                            {{getDateConverted(qcs.CREATED_DATE)}}
                                                        </td>
                                                        <td>
                                                            <span ng-if="qcs.IS_PRIMARY == 1">PRIMARY</span>
                                                            <span ng-if="qcs.IS_PRIMARY > 1">SECONDARY</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>